<section class="used section block">
  <div class="container">
    <div class="used__inner section__grid">
      <div class="used__subtitle section__subtitle">So wird es <br />verwendet</div>
      <div class="used__content">
        <p class="used__text section__slogan">
          So wird es verwendet Beachten Sie, wie dieser Profiltyp in der Praxis verwendet werden
          kann. Lassen Sie sich von diesen Beispielen inspirieren, um stilvolle Spanndeckendesigns
          zu kreieren!
        </p>
        <div class="used__video">
          <div class="used__video-box">
            <picture class="used__pic">
              <source srcset="./images/content/goods/goods2.webp" type="image/webp" />
              <source srcset="./images/content/goods/goods2.avif" type="image/avif" />
              <img
                src="./images/content/goods/goods2.jpg"
                class="used__img"
                alt="Anwendung in der Praxis"
              />
            </picture>
          </div>
          <div class="used__tip">Anwendung in der Praxis</div>
        </div>
      </div>
    </div>
  </div>
</section>
