<section class="goods section">
  <div class="section__container">
    <div class="goods__content">
      <div class="goods__carousel">
        <div class="goods__swiper-large swiper-large">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide__large">
              <picture>
                <source srcset="./images/content/goods/goods1.webp" type="image/webp" />
                <source srcset="./images/content/goods/goods1.avif" type="image/avif" />
                <img
                  src="./images/content/goods/goods1.jpg"
                  alt="ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste"
                  class="goods__img-large swiper-slide__narrow-img-large"
                  width="613"
                  height="613"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-slide__large">
              <picture>
                <source srcset="./images/content/goods/goods1.webp" type="image/webp" />
                <source srcset="./images/content/goods/goods1.avif" type="image/avif" />
                <img
                  src="./images/content/goods/goods1.jpg"
                  alt="ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste"
                  class="goods__img-large swiper-slide__narrow-img-large"
                  width="613"
                  height="613"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-slide__large">
              <picture>
                <source srcset="./images/content/goods/goods1.webp" type="image/webp" />
                <source srcset="./images/content/goods/goods1.avif" type="image/avif" />
                <img
                  src="./images/content/goods/goods1.jpg"
                  alt="ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste"
                  class="goods__img-large swiper-slide__narrow-img-large"
                  width="613"
                  height="613"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="goods__swiper-narrow swiper-narrow">
          <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide__narrow">
              <picture>
                <source srcset="./images/content/goods/goods1.webp" type="image/webp" />
                <source srcset="./images/content/goods/goods1.avif" type="image/avif" />
                <img
                  src="../../images/content/goods/goods1.jpg"
                  alt="ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste"
                  width="191"
                  height="191"
                  class="swiper-slide__narrow-img-tiny goods__img-tiny"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-slide__narrow">
              <picture>
                <source srcset="./images/content/goods/goods1.webp" type="image/webp" />
                <source srcset="./images/content/goods/goods1.avif" type="image/avif" />
                <img
                  src="../../images/content/goods/goods1.jpg"
                  alt="ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste"
                  width="191"
                  height="191"
                  class="swiper-slide__narrow-img-tiny goods__img-tiny"
                />
              </picture>
            </div>
            <div class="swiper-slide swiper-slide__narrow">
              <picture>
                <source srcset="./images/content/goods/goods1.webp" type="image/webp" />
                <source srcset="./images/content/goods/goods1.avif" type="image/avif" />
                <img
                  src="../../images/content/goods/goods1.jpg"
                  alt="ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste"
                  width="191"
                  height="191"
                  class="swiper-slide__narrow-img-tiny goods__img-tiny"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>

      <div class="goods__top">
        <h1 class="goods__top-title">
          ALU Trennprofil für Lichtlinien schwarz  super breit 7 cm mit Abschlussleiste
        </h1>
        <div class="goods__top-box">
          <div class="goods__top-item">Artikel</div>
          <div class="goods__top-item">ATW02</div>
        </div>
        <dl class="goods__top-list">
          <div class="goods__top-list-item">
            <dt class="goods__top-list-term">Preis für 1 m</dt>
            <dd class="goods__top-list-val">€ 47</dd>
          </div>
          <div class="goods__top-list-item">
            <dt class="goods__top-list-term">Auf Lager</dt>
            <dd class="goods__top-list-val">1024 m</dd>
          </div>
        </dl>
      </div>

      <div class="goods__center">
        <dl class="goods__center-list">
          <div class="goods__center-item">
            <dt class="goods__center-term">Material</dt>
            <dd class="goods__center-val">Aluminium</dd>
          </div>
          <div class="goods__center-item">
            <dt class="goods__center-term">Farbe</dt>
            <dd class="goods__center-val">Schwarz</dd>
          </div>
          <div class="goods__center-item">
            <dt class="goods__center-term">Gewicht</dt>
            <dd class="goods__center-val">200 cm</dd>
          </div>
          <div class="goods__center-item">
            <dt class="goods__center-term">Produktlänge</dt>
            <dd class="goods__center-val">250 gr</dd>
          </div>
          <div class="goods__center-item">
            <dt class="goods__center-term">Produktbreite</dt>
            <dd class="goods__center-val">7 cm</dd>
          </div>
          <div class="goods__center-item">
            <dt class="goods__center-term">Produkthöhe</dt>
            <dd class="goods__center-val">3,5 cm</dd>
          </div>
          <div class="goods__center-item">
            <a class="goods__center-item-link" href="#dock">
              <span class="goods__center-term">Whitepaper ansehen</span>
              <span>
                <svg
                  width="14"
                  height="8"
                  viewBox="0 0 14 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1 1L7 7L13 1"
                    stroke="#838383"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </span>
            </a>
          </div>
        </dl>
        <div class="goods__info-order">
          <div class="product__content-order">
            <button
              class="product__content-order-btn product__content-order-btn-minus js-product-btn-minus"
            >
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.35" clip-path="url(#clip0_1371_51993)">
                  <rect x="0.882812" y="5.5" width="11" height="1" fill="black" />
                </g>
                <defs>
                  <clipPath id="clip0_1371_51993">
                    <rect
                      width="10.2353"
                      height="11"
                      fill="white"
                      transform="translate(0.882812 0.5)"
                    />
                  </clipPath>
                </defs>
              </svg>
            </button>
            <input class="product__content-input" type="text" value="1" />
            <button
              class="product__content-order-btn product__content-order-btn-plus js-product-btn-plus"
            >
              <svg
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g opacity="0.35">
                  <path
                    d="M5.5 0.5H6.5V5.5H11.5V6.5H6.5V11.5H5.5V6.5H0.5V5.5H5.5V0.5Z"
                    fill="black"
                  />
                </g>
              </svg>
            </button>
          </div>
          <button class="product__content-btn">Bestellen</button>
        </div>
      </div>
    </div>
    <div class="goods__bottom" id="dock">
      <div class="goods__bottom-controll js-tabs-control">
        <button class="goods__bottom-btn js-tabs-btn active">[Beschreibung]</button>
        <button class="goods__bottom-btn js-tabs-btn">[Lieferung]</button>
        <button class="goods__bottom-btn js-tabs-btn">[Garantien]</button>
      </div>
      <div class="goods__bottom-content">
        <p class="goods__bottom-text js-content-items">
          Alu Profil für indirekte Beleuchtung mit zweifacher LED Linie. Die LED Streifen werden an
          beiden Seiten geklebt. Der Folienkeder wird mit der Abschlussleiste verdeckt. Profil wird
          mit Hilfe von Metallwinkel an die Decke montiert.
        </p>
        <p class="goods__bottom-text js-content-items">
          Lorem, ipsum dolor.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda,
          asperiores, accusamus dignissimos neque molestiae, delectus iste iure aliquid quis id
          corporis! Beatae inventore accusamus eum in laudantium quas et accusantium!
        </p>
        <p class="goods__bottom-text js-content-items">
          Ipsum dolor sit amet consectetur adipisicing elit. Quisquam laboriosam quibusdam minima
          nesciunt, qui veritatis iusto nostrum eius expedita optio, similique doloribus, dolorum
          accusamus maiores pariatur totam? Recusandae, rerum assumenda.
        </p>
      </div>
    </div>
  </div>
</section>
