<section class="watched section additionally">
  <div class="container">
    <div class="watched__inner section__grid">
      <div class="watched__box additionally__box">
        <div class="watched__subtitle section__subtitle">Sie haben <br />angesehen</div>
        <div class="watched__box-buttons additionally__box-buttons">
          <div class="swiper-button watched__swiper-button-prev swiper-button-prev">
            <svg
              width="8"
              height="14"
              viewBox="0 0 8 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7 13L1 7L7 1"
                stroke="#1E1E1E"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <div class="swiper-button watched__swiper-button-next swiper-button-next">
            <svg
              width="8"
              height="14"
              viewBox="0 0 8 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1 13L7 7L1 1"
                stroke="#1E1E1E"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="watched__content additionally__content">
        <div class="watched__swiper additionally__swiper swiper">
          <div class="watched__swiper-wrapper swiper-wrapper">
            <div class="watched__swiper-slide swiper-slide">
              <div class="product">
                <div class="product__item">
                  <span class="product__tip">Auf Lager</span>
                  <picture class="product__pic">
                    <source
                      srcset="../../images/content/goods/goods-recommend1.webp"
                      type="image/webp"
                    />
                    <source
                      srcset="../../images/content/goods/goods-recommend1.avif"
                      type="image/avif"
                    />
                    <img
                      src="../../images/content/goods/"
                      class="product__img"
                      alt="ALU Profil für Gardinennische A mit Abschlussleisteer breit 7 cm mit Abschlussleiste"
                      width="186"
                      height="170"
                    />
                  </picture>
                  <div class="product__box">
                    <h3 class="product__name">
                      ALU Profil für Gardinennische A mit Abschlussleisteer breit 7 cm mit
                      Abschlussleiste
                    </h3>
                    <div class="product__price">€ 47</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="watched__swiper-slide swiper-slide">
              <div class="product">
                <div class="product__item">
                  <span class="product__tip">Auf Lager 1200 м [ Neue ]</span>
                  <picture class="product__pic">
                    <source
                      srcset="../../images/content/goods/goods-recommend2.webp"
                      type="image/webp"
                    />
                    <source
                      srcset="../../images/content/goods/goods-recommend2.avif"
                      type="image/avif"
                    />
                    <img
                      src="../../images/content/goods/goods-recommend2.png"
                      class="product__img"
                      alt="ALU Trennprofil für Lichtlinien schwarz  super breit 7 cm mit Abschlussleiste"
                      width="186"
                      height="170"
                    />
                  </picture>
                  <div class="product__box">
                    <h3 class="product__name">
                      ALU Trennprofil für Lichtlinien schwarz  super breit 7 cm mit Abschlussleiste
                    </h3>
                    <div class="product__price">€ 47</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="watched__swiper-slide swiper-slide">
              <div class="product">
                <div class="product__item">
                  <span class="product__tip">Auf Lager 1200 м [ Neue ]</span>
                  <picture class="product__pic">
                    <source
                      srcset="../../images/content/goods/goods-recommend3.webp"
                      type="image/webp"
                    />
                    <source
                      srcset="../../images/content/goods/goods-recommend3.avif"
                      type="image/avif"
                    />
                    <img
                      src="../../images/content/goods/goods-recommend3.png"
                      class="product__img"
                      alt="ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste"
                      width="186"
                      height="170"
                    />
                  </picture>
                  <div class="product__box">
                    <h3 class="product__name">
                      ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste
                    </h3>
                    <div class="product__price">€ 47</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="watched__swiper-slide swiper-slide">
              <div class="product">
                <div class="product__item">
                  <span class="product__tip">Auf Lager 1200 м [ Neue ]</span>
                  <picture class="product__pic">
                    <source
                      srcset="../../images/content/goods/goods-recommend4.webp"
                      type="image/webp"
                    />
                    <source
                      srcset="../../images/content/goods/goods-recommend4.avif"
                      type="image/avif"
                    />
                    <img
                      src="../../images/content/goods/goods-recommend4.png"
                      class="product__img"
                      alt="ALU Trennprofil für Lichtlinien schwarz  super breit 7 cm mit Abschlussleiste"
                      width="186"
                      height="170"
                    />
                  </picture>
                  <div class="product__box">
                    <h3 class="product__name">
                      ALU Trennprofil für Lichtlinien schwarz  super breit 7 cm mit Abschlussleiste
                    </h3>
                    <div class="product__price">€ 47</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="watched__swiper-slide swiper-slide">
              <div class="product">
                <div class="product__item">
                  <span class="product__tip">Auf Lager 1200 м [ Neue ]</span>
                  <picture class="product__pic">
                    <source
                      srcset="../../images/content/goods/goods-recommend5.webp"
                      type="image/webp"
                    />
                    <source
                      srcset="../../images/content/goods/goods-recommend5.avif"
                      type="image/avif"
                    />
                    <img
                      src="../../images/content/goods/goods-recommend5.png"
                      class="product__img"
                      alt="ALU Trennprofil für Lichtlinien schwarz  super breit 7 cm mit Abschlussleiste"
                      width="186"
                      height="170"
                    />
                  </picture>
                  <div class="product__box">
                    <h3 class="product__name">
                      ALU Trennprofil für Lichtlinien schwarz  super breit 7 cm mit Abschlussleiste
                    </h3>
                    <div class="product__price">€ 47</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="watched__swiper-slide swiper-slide">
              <div class="product">
                <div class="product__item">
                  <span class="product__tip">Auf Lager 1200 м [ Neue ]</span>
                  <picture class="product__pic">
                    <source
                      srcset="../../images/content/goods/goods-recommend1.webp"
                      type="image/webp"
                    />
                    <source
                      srcset="../../images/content/goods/goods-recommend1.avif"
                      type="image/avif"
                    />
                    <img
                      src="../../images/content/goods/goods-recommend1.png"
                      class="product__img"
                      alt="ALU Trennprofil für Lichtlinien schwarz  super breit 7 cm mit Abschlussleiste"
                      width="186"
                      height="170"
                    />
                  </picture>
                  <div class="product__box">
                    <h3 class="product__name">
                      ALU Trennprofil für Lichtlinien schwarz  super breit 7 cm mit Abschlussleiste
                    </h3>
                    <div class="product__price">€ 47</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
