html,
body {
  height: 100%;
  position: relative;
}

body {
  @extend %inter-400;
  color: $main;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.container {
  max-width: 1910px;
  padding: 0 15px;
  margin: 0 auto;
}
.main {
  flex-grow: 1;
}

.section {
  h1 {
    @extend %inter-500;
    font-size: 110px;
    line-height: 100%;
    color: $black1;
    @media (max-width: 1000px) {
      font-size: 48px;
    }
  }
  h2 {
    @extend %inter-400;
    font-size: 51px;
    line-height: 118%;
    color: $black1;
    margin-bottom: 25px;
    @media (max-width: 1000px) {
      font-size: 33px;
      line-height: 115%;
      color: #505050;
    }
  }
  p {
    @extend %inter-400;
    font-size: 18px;
    line-height: 135%;
    color: #838383;
    margin-bottom: 25px;
  }
  a {
    @extend %om-400;
    display: block;
    font-size: 18px;
    line-height: 125%;
    color: #838383;
  }
  .section__container {
    max-width: 1246px;
    margin: 0 auto;
  }
  .section__grid {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 15px;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      font-size: 20px;
      gap: 25px;
    }
  }
  .section__box {
    align-self: flex-end;
  }
  .section__link {
    @extend %om-700;
    display: block;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.04em;
    color: $black;
    margin-bottom: 15px;
    opacity: 0.35;
    &.active {
      opacity: 1;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .section__title {
    @extend %inter-500;
    font-size: 110px;
    line-height: 100%;
    color: $black1;
    word-break: break-all;
    @media (max-width: 1000px) {
      font-size: 48px;
      order: -1;
    }
  }
  .section__name {
    @extend %inter-800;
    font-size: 24px;
    line-height: 100%;
    color: $gray;
    @media (max-width: 1000px) {
      font-size: 20px;
    }
    @media (max-width: 400px) {
      max-width: 160px;
    }
  }
  .section__text {
    position: relative;
  }
  .section__text-bullet {
    @media (max-width: 1000px) {
      margin-left: 20px;
    }
  }
  .section__text-bullet::before {
    position: absolute;
    top: 4px;
    left: -20px;
    content: '';
    width: 12px;
    height: 12px;
    background-color: #c4c4c4;
    border-radius: 50%;
  }
  .section__subtitle {
    @extend %inter-800;
    font-size: 24px;
    line-height: 100%;
    color: $gray;
    @media (max-width: 1000px) {
      font-size: 20px;
    }
    @media (max-width: 400px) {
      max-width: 160px;
    }
  }
  .section__slogan {
    text-indent: 630px;
    font-size: 51px;
    line-height: 118%;
    color: $black1;
    margin-bottom: 50px;
    & span {
      color: $red;
    }
    @media (max-width: 1400px) {
      text-indent: 430px;
    }
    @media (max-width: 1200px) {
      text-indent: 0;
    }
    @media (max-width: 1000px) {
      font-size: 33px;
      margin-bottom: 25px;
    }
  }
}
.block {
  margin-bottom: 250px;
  @media (max-width: 1000px) {
    margin-bottom: 100px;
  }
}
/* .block {
  margin-bottom: 250px;
  @media (max-width: 1000px) {
    margin-bottom: 100px;
  }
}
.block__content {
  max-width: 1246px;
  margin: 0 auto;
}
.block__inner {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 15px;
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    font-size: 20px;
    gap: 25px;
  }
} */

.pagination {
  margin-bottom: 190px;
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-bottom: 1px solid #838383;
    border-top: 1px solid #838383;
    padding: 25px 0px;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      margin-bottom: 100px;
      border-bottom: none;
      border-top: none;
    }
  }
  &__box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 600px;
    @media (max-width: 1000px) {
      max-width: 100%;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 250px;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
  &__item {
    @extend %inter-400;
    color: $gray;
    &.active {
      @extend %inter-600;
      color: $black;
      border-bottom: 2px solid $black;
    }
  }
  &__link {
    color: inherit;
    padding: 0 10px;
    font-size: 24px;
    text-transform: uppercase;
  }
  &__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__btn-more {
    width: 100%;
    border: none;
    background-color: $black;
    border-radius: 4px;
    padding: 18px;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $whiteMain;
    transition: all 0.3s;
    cursor: pointer;
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }
}
