@import 'vars';
/* Цвет */
@import 'fonts';
/* Шрифты */
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */
@import '../../node_modules/swiper/swiper-bundle.min';

.header {
  position: relative;
  z-index: 1;
  height: 110px;
  padding: 24px 0 20px;
  background-color: rgba(255, 255, 255, 0.03);
  @media (max-width: 1000px) {
    height: 44px;
    padding: 10px 0;
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .header__left-menu {
    width: 100%;
  }
  .header__left-menu-btn {
    display: none;
    @extend %btn;
    @media (max-width: 1000px) {
      display: block;
    }
  }
  .header__menu-link-catalog,
  .header__menu-login {
    @media (max-width: 1000px) {
      display: none;
    }
  }
  .header__left-list {
    display: flex;
    gap: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 14px;
    margin-bottom: 19px;
    @media (max-width: 1000px) {
      display: none;
      gap: 0;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    &.active {
      position: absolute;
      top: 44px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;
      height: 100vh;
      padding: 15px;
      background-color: $black1;
    }
  }
  .header__right-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  .header__left-item-dropdown {
    position: relative;
    margin-right: 15px;
  }
  .header__left-item-dropdown:before {
    content: '';
    transform-origin: 3px 6px;
    border-color: $whiteMain;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    width: 8px;
    height: 8px;
    transition: transform 0.3s, border-color 0.3s;
    display: block;
    position: absolute;
    top: 6px;
    right: -15px;
    transform: rotate(-45deg);
  }
  .header__left-item-dropdown:hover::before {
    border-color: #a9a8b0;
    transform: rotate(135deg);
  }
  .header__right-list {
    display: flex;
    gap: 25px;
  }
  .header__box {
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    padding-bottom: 14px;
    margin-bottom: 19px;
    @media (max-width: 1000px) {
      gap: 0;
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  .header__menu-link {
    font-size: 16px;
    line-height: 118%;
    color: $white;
    white-space: nowrap;
  }
  .header__menu-link:hover {
    color: darken($color: $white, $amount: 20%);
  }
  .header__logo-img {
    min-width: 120px;
    @media (max-width: 1000px) {
      min-width: 50px;
      height: 24px;
    }
  }
  .header__input-search {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  .header__input {
    width: 104px;
    height: 24px;
    font-size: 16px;
    line-height: 125%;
    background-color: transparent;
    border: none;
    outline: none;
    color: $whiteMain;
    padding: 0 5px;
  }
  .header__btn {
    @extend %btn;
    font-size: 14px;
    line-height: 118%;
    text-transform: uppercase;
    color: $white;
    text-decoration: underline;
    @media (max-width: 1000px) {
      display: none;
    }
  }
  .header__btn:hover {
    color: darken($color: $white, $amount: 20%);
  }
  &.header-page {
    background-color: $whiteMain;
    .header__menu-link {
      color: $black;
      opacity: 0.8;
    }
    .header__btn {
      color: $black;
      opacity: 0.8;
    }
    .header__left-item-dropdown:before {
      border-color: $black;
    }
    .header__left-list {
      border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    }
    .header__box {
      border-bottom: 1px solid rgba(0, 0, 0, 0.35);
      @media (max-width: 1000px) {
        border-bottom: none;
      }
    }
    .header__input {
      color: $main;
      &::placeholder {
        color: rgba(0, 0, 0, 0.35);
      }
    }
    .header__left-list {
      @media (max-width: 1000px) {
        display: none;
        gap: 0;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      &.active {
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: 100vh;
        padding: 15px;
        background-color: #f9f4f4;
      }
    }
  }
}
.first {
  display: flex;
  align-items: center;
  background-image: url('../images/content/first-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 1065px;
  margin-top: -110px;
  @media (max-width: 1000px) {
    height: auto;
    margin-top: -44px;
    padding: 54px 0 25px;
  }
  &__inner {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: repeat(3, 1fr);
    gap: 0 120px;
    @media (max-width: 1400px) {
      gap: 0 20px;
    }
    @media (max-width: 1000px) {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: repeat(3, auto);
    }
  }
  &__left {
    grid-area: 1 / 1 / 4 / 2;
    @media (max-width: 1000px) {
      grid-area: 1 / 1 / 2 / 4;
    }
  }
  &__col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (max-width: 1000px) {
      flex-direction: row;
    }
  }
  &__text {
    @extend %overpass-600;
    font-size: 14px;
    line-height: 110%;
    color: #acacac;
    opacity: 0.7;
  }
  &__center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    grid-area: 1 / 2 / 4 / 3;
    @media (max-width: 1000px) {
      grid-area: 2 / 1 / 3 / 4;
    }
  }
  &__box {
    padding: 100px 0;
  }
  &__title {
    @extend %inter-500;
    font-size: 110px;
    line-height: 100%;
    margin-bottom: 50px;
    color: $whiteMain;
    @media (max-width: 1400px) {
      font-size: 80px;
    }
    @media (max-width: 1000px) {
      font-size: 48px;
      margin-bottom: 35px;
    }
  }
  &__slogan {
    @extend %overpass-600;
    font-size: 26px;
    line-height: 110%;
    color: $white1;
    max-width: 550px;
    margin-bottom: 75px;
    @media (max-width: 1000px) {
      font-size: 24px;
      margin-bottom: 50px;
    }
  }
  &__btn {
    @extend %inter-500;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 24px 90px;
    color: rgba(30, 30, 30, 0.8);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: $whiteMain;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken($color: $whiteMain, $amount: 20%);
    }
    @media (max-width: 1000px) {
      font-size: 17px;
      padding: 19px;
    }
  }
  &__center-text {
    align-self: center;
  }
  &__right {
    grid-area: 1 / 3 / 4 / 4;
    &.first__col {
      align-items: flex-end;
    }
    @media (max-width: 1000px) {
      grid-area: 3 / 1 / 4 / 4;
    }
  }
}
.about,
.path {
  &__slogan {
    text-indent: 0;
  }
  &__box {
    display: grid;
    grid-template-columns: 464px 1fr;
    gap: 170px;
    @media (max-width: 1400px) {
      gap: 50px;
    }
    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      gap: 35px;
    }
  }
  &__img {
    object-fit: cover;
    height: auto;
  }
  &__info {
    max-width: 620px;
  }
  &__info-box {
    display: flex;
    gap: 20px;
    margin-bottom: 35px;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  &__info-text {
    max-width: 300px;
    font-size: 18px;
    line-height: 135%;
    color: #838383;
    @media (max-width: 1000px) {
      max-width: 100%;
    }
  }
  &__info-title {
    @extend %inter-600;
    font-size: 18px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $black;
    text-decoration: underline;
    margin-bottom: 150px;
    @media (max-width: 1000px) {
      margin-bottom: 35px;
    }
  }
  &__info-item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 0;
    border-top: 1px solid #d6d6d6;
    dt {
      @extend %inter-500;
      font-size: 24px;
      line-height: 100%;
      color: #333333;
      opacity: 0.8;
      @media (max-width: 1000px) {
        font-size: 18px;
      }
    }
    dd {
      font-size: 18px;
      line-height: 125%;
      opacity: 0.6;
    }
  }
}
.path {
  &__info {
    max-width: 930px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__info-text {
    max-width: 290px;
  }
  &__info-blockquote {
    font-style: italic;
    font-size: 22px;
    line-height: 118%;
    color: #000;
    opacity: 0.8;
    margin-bottom: 15px;
  }
  &__info-name {
    @extend %om-600;
    font-size: 16px;
    line-height: 118%;
    color: #000;
    opacity: 0.35;
    margin-bottom: 25px;
  }
  &__info-row {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    @media (max-width: 1000px) {
      border-bottom: none;
    }
  }
  &__info-row-box {
    max-width: 630px;
  }
}
.manufact,
.edu-video {
  &__tip {
    @extend %inter-300;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    color: #838383;
  }
  &__video {
    max-width: 1246px;
  }
  &__video-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__video-btn {
    position: absolute;
    background-image: url('../images/icons/manufact-play.svg');
    @extend %btn;
    width: 120px;
    height: 120px;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    @media (max-width: 1000px) {
      width: 81px;
      height: 81px;
      background-image: url('../images/icons/manufact-play-m.svg');
    }
  }
  &__pic {
    display: block;
    margin-bottom: 15px;
  }
  &__img {
    object-fit: cover;
    height: 100%;
  }
}
.masters {
  &__box {
    display: flex;
    gap: 170px;
    @media (max-width: 1400px) {
      gap: 50px;
    }
    @media (max-width: 1200px) {
      flex-direction: column;
    }
    @media (max-width: 1000px) {
      gap: 35px;
    }
  }
  &__pic {
    align-self: flex-end;
    @media (max-width: 1200px) {
      align-self: flex-start;
    }
  }
  &__img {
    height: 100%;
  }
  &__info {
    max-width: 808px;
    @media (max-width: 1000px) {
      max-width: 100%;
    }
  }
  &__info-item {
    display: flex;
    gap: 35px;
    max-width: 550px;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (max-width: 1000px) {
      flex-direction: column;
      gap: 15px;
      max-width: 100%;
    }
  }
  &__info-num {
    @extend %inter-500;
    font-size: 32px;
    line-height: 100%;
    color: #afafaf;
    white-space: nowrap;
    @media (max-width: 1000px) {
      font-size: 28px;
    }
  }
  &__info-title {
    @extend %inter-500;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 25px;
    color: $black1;
    @media (max-width: 1000px) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  &__info-text {
    @extend %inter-600;
    font-size: 16px;
    line-height: 115%;
    color: #acacac;
    @media (max-width: 1000px) {
      font-size: 16px;
    }
  }
}
.order,
.order-course {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 1070px;
    margin: 0 auto;
  }
  &__title {
    @extend %inter-600;
    font-size: 72px;
    line-height: 100%;
    text-align: center;
    color: $black;
    @media (max-width: 1000px) {
      font-size: 40px;
    }
  }
  &__btn {
    @extend %btn;
    @extend %inter-500;
    border-radius: 4px;
    padding: 24px 90px;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: $black;
    color: $whiteMain;
    transition: background-color 0.3s;
    &:hover {
      background-color: lighten($color: $black, $amount: 20%);
    }
    @media (max-width: 1000px) {
      font-size: 17px;
      padding: 19px;
    }
  }
}
.order-course {
  &__inner {
    max-width: 1150px;
  }
}
.training {
  margin-bottom: 60px;
  .container {
    @media (max-width: 1000px) {
      padding: 0;
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    background-color: $black;
    padding: 75px 0;
    @media (max-width: 1000px) {
      padding: 35px 15px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 1247px;
    @media (max-width: 1000px) {
      gap: 35px;
    }
  }
  &__title {
    font-size: 47px;
    line-height: 118%;
    text-align: center;
    color: $white;
    @media (max-width: 1000px) {
      font-size: 40px;
    }
  }
  &__btn {
    @extend %btn;
    @extend %inter-500;
    border-radius: 4px;
    padding: 24px 90px;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: $whiteMain;
    color: $black;
    transition: background-color 0.3s;
    &:hover {
      background-color: darken($color: $whiteMain, $amount: 20%);
    }
    @media (max-width: 1000px) {
      font-size: 17px;
      padding: 19px;
    }
  }
}
.products {
  &__text {
    text-indent: 0;
  }
  &__catalog {
    display: grid;
    grid-template-columns: 1fr 297px 297px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-content: flex-end;
    @media (max-width: 1400px) {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-template-rows: auto 1fr;
    }
    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto repeat(2, 1fr);
    }
    @media (max-width: 568px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto repeat(4, 1fr);
    }
  }
  &__catalog-text {
    font-size: 18px;
    line-height: 135%;
    color: #838383;
    max-width: 297px;
    @media (max-width: 1400px) {
      max-width: 100%;
    }
  }
  &__catalog-btn {
    @extend %inter-500;
    @extend %btn;
    border-radius: 4px;
    padding: 24px 60px;
    background-color: $black;
    font-size: 24px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $white;
    transition: background-color 0.3s;
    &:hover {
      background-color: lighten($color: $black, $amount: 20%);
    }
    @media (max-width: 1000px) {
      font-size: 17px;
      padding: 19px;
    }
  }
  &__catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 20px;
    background-color: #f4f4f4;
    overflow: hidden;
    transition: all 0.3s;
  }
  &__catalog-item:hover .products__catalog-img {
    transform: scale(1.03);
    transition: all 0.3s;
  }
  &__catalog-item:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
    @media (max-width: 1400px) {
      grid-area: 2 / 1 / 3 / 2;
    }
    @media (max-width: 1000px) {
      grid-area: 2 / 1 / 3 / 2;
    }
    @media (max-width: 568px) {
      grid-area: 2 / 1 / 3 / 2;
    }
  }
  &__catalog-item:nth-child(2) {
    grid-area: 1 / 2 / 2 / 4;
    background-color: transparent;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 35px;
    padding: 0;
    @media (max-width: 1400px) {
      grid-area: 1 / 1 / 2 / 5;
    }
    @media (max-width: 1000px) {
      grid-area: 1 / 1 / 2 / 3;
      gap: 25px;
    }
    @media (max-width: 568px) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
  &__catalog-item:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
    @media (max-width: 1400px) {
      grid-area: 2 / 2 / 3 / 3;
    }
    @media (max-width: 1000px) {
      grid-area: 2 / 2 / 3 / 3;
    }
    @media (max-width: 568px) {
      grid-area: 3 / 1 / 4 / 2;
    }
  }
  &__catalog-item:nth-child(4) {
    grid-area: 2 / 3 / 3 / 4;
    @media (max-width: 1400px) {
      grid-area: 2 / 3 / 3 / 4;
    }
    @media (max-width: 1000px) {
      grid-area: 3 / 1 / 4 / 2;
    }
    @media (max-width: 568px) {
      grid-area: 4 / 1 / 5 / 2;
    }
  }
  &__catalog-item:nth-child(5) {
    grid-area: 1 / 4 / 3 / 5;
    @media (max-width: 1400px) {
      grid-area: 2 / 4 / 3 / 5;
    }
    @media (max-width: 1000px) {
      grid-area: 3 / 2 / 4 / 3;
    }
    @media (max-width: 568px) {
      grid-area: 5 / 1 / 6 / 2;
    }
  }
  &__catalog-img {
    object-fit: cover;
    @media (max-width: 1400px) {
      width: 257px;
      height: 189px;
    }
  }
  &__catalog-name {
    font-size: 20px;
    line-height: 118%;
    text-align: center;
    opacity: 0.6;
    color: $black;
    cursor: pointer;
  }
}
.mounting {
  &__text {
    font-size: 18px;
    line-height: 135%;
    margin-bottom: 35px;
    color: #838383;
  }
  &__box {
    display: flex;
    gap: 20px;
    @media (max-width: 1400px) {
      flex-wrap: wrap;
    }
  }
  &__item-decor {
    @media (max-width: 1400px) {
      display: none;
    }
  }
  &__left {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    width: 48%;
    @media (max-width: 1400px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 1fr;
      gap: 20px;
      width: 100%;
    }
    @media (max-width: 568px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
    }
  }
  &__left-text {
    @media (max-width: 1400px) {
      grid-area: 1 / 1 / 2 / 3;
    }
    @media (max-width: 568px) {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
  &__item-img1 {
    @media (max-width: 1400px) {
      grid-area: 2 / 1 / 3 / 2;
    }
    @media (max-width: 568px) {
      grid-area: 2 / 1 / 3 / 2;
    }
  }
  &__item-img2 {
    @media (max-width: 1400px) {
      grid-area: 2 / 2 / 3 / 3;
    }
    @media (max-width: 568px) {
      grid-area: 3 / 1 / 4 / 2;
    }
  }
  &__left-text {
    margin-top: 15px;
    & span {
      color: $red;
    }
  }
  &__link {
    @extend %inter-600;
    font-size: 18px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $black;
    text-decoration: underline;
  }
  &__item-img {
    align-self: flex-end;
  }
  &__img {
    object-fit: cover;
    @media (max-width: 1400px) {
      height: auto;
      width: 100%;
    }
  }
  &__right {
    width: 48%;
    @media (max-width: 1400px) {
      width: 100%;
    }
    @media (max-width: 568px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__right-pic {
    display: inline-block;
    margin-bottom: 75px;
    @media (max-width: 1400px) {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  &__right-text {
    max-width: 630px;
  }
  &__right-box {
    @media (max-width: 568px) {
      margin-bottom: 35px;
    }
  }
}
.best,
.courses {
  &__info {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    @media (max-width: 1000px) {
      gap: 15px;
    }
  }
  &__info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    max-width: 295px;
    border-left: 1px solid #d6d6d6;
    padding: 20px 13px 20px 35px;
    @media (max-width: 1000px) {
      border: 1px solid #d6d6d6;
      max-width: 100%;
      width: 100%;
    }
  }
  &__info-title {
    @extend %inter-700;
    font-size: 28px;
    line-height: 100%;
    margin-bottom: 50px;
    color: $black1;
  }
  &__info-text {
    @extend %inter-500;
    font-size: 16px;
    line-height: 135%;
    color: #838383;
    & span {
      color: $red;
    }
  }
}
.webest {
  &__slogan {
    text-indent: 0;
    max-width: 930px;
    @media (max-width: 768px) {
      margin-bottom: 50px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__box-item {
    display: grid;
    grid-template-columns: 315px 1fr 1fr;
    grid-template-rows: minmax(84px, 1fr);
    gap: 20px;
    border-bottom: 1px solid $gray;
    padding: 18px 0;
    @media (max-width: 1400px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      border-bottom: none;
      gap: 15px;
      padding: 0;
    }
  }
  &__box-num {
    @extend %inter-500;
    font-size: 32px;
    line-height: 100%;
    white-space: nowrap;
    color: $gray;
    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
  &__box-title {
    @extend %inter-500;
    font-size: 32px;
    line-height: 100%;
    border-left: 1px solid $gray;
    padding: 0px 0px 0px 20px;
    @media (max-width: 768px) {
      border-left: none;
      padding: 0;
      font-size: 24px;
    }
  }
  &__box-text {
    @extend %inter-600;
    max-width: 500px;
    font-size: 16px;
    line-height: 115%;
    border-left: 1px solid $gray;
    padding: 0px 0px 0px 20px;
    color: $gray;
    @media (max-width: 768px) {
      border-left: none;
      padding: 0;
      max-width: 100%;
    }
  }
}
.support,
.offer-support {
  &__box {
    display: flex;
    gap: 20px;
    @media (max-width: 1400px) {
      flex-wrap: wrap;
    }
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  &__item {
    width: 33%;
  }
  &__item:nth-child(1),
  &__item:nth-child(2) {
    align-self: flex-end;
    @media (max-width: 1400px) {
      width: 48%;
    }
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
  &__item:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: 1400px) {
      width: 100%;
    }
    @media (max-width: 1000px) {
      order: -1;
    }
  }
  &__img {
    @media (max-width: 1000px) {
      width: 100%;
      height: auto;
    }
  }
  &__img1,
  &__img3 {
    @media (max-width: 1000px) {
      display: none;
    }
  }
  &__text {
    max-width: 280px;
    font-size: 18px;
    line-height: 135%;
    margin-bottom: 35px;
    color: #838383;
    @media (max-width: 1000px) {
      max-width: 100%;
    }
  }
  &__link {
    @extend %inter-600;
    font-size: 18px;
    line-height: 118%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $black;
    text-decoration: underline;
  }
}
.offer-support {
  &__box {
    justify-content: center;
  }
  &__tip {
    @extend %inter-300;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    color: #838383;
    @media (max-width: 1000px) {
      text-align: left;
      max-width: 160px;
    }
  }
  &__pic {
    display: inline-block;
    margin-bottom: 15px;
  }
  &__text {
    @media (max-width: 1000px) {
      order: -1;
    }
  }
}
.reviews {
  .container {
    @media (max-width: 1000px) {
      padding: 0;
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #838383;
    @media (max-width: 1400px) {
      display: none;
    }
  }
  .swiper-button-prev {
    left: -50px;
  }
  &__inner,
  &__left {
    @media (max-width: 1000px) {
      padding: 0 15px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: 1000px) {
      gap: 0;
    }
  }
  &__slider {
    width: 1164px;
    height: 445px;
    margin: 0;
    @media (max-width: 1400px) {
      width: 500px;
      height: auto;
    }
    @media (max-width: 1000px) {
      width: 100%;
      padding: 0 15px;
    }
  }
  &__right {
    position: relative;
    margin-left: 100px;
    @media (max-width: 1400px) {
      margin-left: 0;
    }
    @media (max-width: 1000px) {
      overflow: hidden;
    }
  }
}
.edu-procedure {
  .edu-procedure__box {
    max-width: 1246px;
  }
  .edu-procedure__item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (max-width: 568px) {
      flex-direction: column;
      margin-bottom: 35px;
    }
  }
  .edu-procedure__item-col {
    width: 50%;
    @media (max-width: 568px) {
      width: 100%;
    }
  }
  .edu-procedure__item-content {
    max-width: 300px;
    @media (max-width: 568px) {
      max-width: 100%;
    }
  }
  .edu-procedure__item-left,
  .edu-procedure__item-right {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    @media (max-width: 568px) {
      border-top: none;
    }
  }
  .edu-procedure__item-left {
    align-items: flex-end;
  }
  .edu-procedure__item-right {
    align-items: flex-start;
    @media (max-width: 568px) {
      order: -1;
    }
  }
  .edu-procedure__item-subtitle {
    @extend %inter-700;
    margin-top: 15px;
    font-size: 28px;
    line-height: 100%;
    color: #838383;
    margin-bottom: 25px;
  }
  .edu-procedure__item-text {
    font-size: 18px;
    line-height: 135%;
    color: #838383;
  }
  .edu-procedure__item-pic {
    display: inline-block;
    margin-bottom: 15px;
  }
  .edu-procedure__item-img {
    object-fit: cover;
    height: auto;
  }
  .edu-procedure__item-tip {
    @extend %om-300;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
    color: #838383;
    @media (max-width: 568px) {
      display: none;
    }
  }
}
.edu-certificate {
  .edu-certificate__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    @media (max-width: 1400px) {
      flex-direction: column;
    }
  }
  .edu-certificate__title {
    align-self: flex-start;
  }
  .edu-certificate__subtitle {
    @extend %inter-500;
    font-size: 72px;
    line-height: 100%;
    color: #000;
    opacity: 0.8;
    margin-right: 215px;
    @media (max-width: 1400px) {
      margin-right: 0;
    }
    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
  .edu-certificate__content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: 1400px) {
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: 768px) {
      gap: 0;
    }
  }
  .edu-certificate__slogan-left {
    align-self: flex-end;
    text-align: right;
    @media (max-width: 1400px) {
      align-self: center;
      text-align: center;
    }
  }
  .edu-certificate__slogan-right {
    @media (max-width: 1400px) {
      text-align: center;
    }
    @media (max-width: 768px) {
      margin-bottom: 25px;
    }
  }
  .edu-certificate__slogan {
    @extend %inter-500;
    font-size: 72px;
    line-height: 100%;
    color: #000;
    opacity: 0.8;
    max-width: 590px;
    @media (max-width: 1400px) {
      max-width: 100%;
    }
    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
  .edu-certificate__pic {
    @media (max-width: 1400px) {
      order: 1;
    }
  }
  .edu-certificate__img {
    min-width: 600px;
    object-fit: cover;
    @media (max-width: 768px) {
      min-width: 100%;
      height: auto;
    }
  }
}
.portfolio {
  padding-top: 100px;
  @media (max-width: 1000px) {
    padding-top: 50px;
  }
  .portfolio__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 20px;
    margin-bottom: 75px;
    @media (max-width: 1000px) {
      margin-bottom: 20px;
    }
    @media (max-width: 768px) {
      position: relative;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 35px;
    }
  }
  .portfolio__controll {
    @media (max-width: 768px) {
      position: relative;
    }
  }
  .portfolio__controll-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (max-width: 768px) {
      position: absolute;
      display: none;
      &.active {
        display: flex;
        background-color: #fff;
        padding: 25px 35px;
      }
    }
  }
  .portfolio__controll-btn {
    @extend %om-600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.04em;
    align-self: flex-start;
    color: $black;
    transition: opacity 0.3s;
    opacity: 0.35;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &.active {
      opacity: 1;
    }
  }
  .portfolio__controll-button {
    display: none;
    padding: 0;
    @extend %inter-500;
    @media (max-width: 768px) {
      position: relative;
      display: inline-flex;
      font-size: 16px;
      line-height: 122%;
      color: $black;
      cursor: pointer;
      border: none;
      background-color: transparent;
    }
  }
  .portfolio__controll-button:before {
    content: '';
    transform-origin: 1px 5px;
    border-color: $black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-style: solid;
    border-left-width: 2px;
    width: 8px;
    height: 8px;
    transition: transform 0.3s, border-color 0.3s;
    display: block;
    position: absolute;
    top: 6px;
    right: -15px;
    transform: rotate(-45deg);
  }
  .portfolio__controll-button.active::before {
    transform: rotate(135deg);
  }
  .portfolio__info {
    @media (max-width: 768px) {
      order: -1;
    }
  }
  .portfolio__title {
    @extend %inter-500;
    font-size: 110px;
    line-height: 100%;
    margin-bottom: 25px;
    @media (max-width: 1000px) {
      font-size: 48px;
    }
  }
  .portfolio__text {
    font-size: 18px;
    line-height: 135%;
    color: #838383;
    max-width: 450px;
    @media (max-width: 1000px) {
      max-width: 100%;
    }
  }
  .portfolio__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    gap: 20px;
    margin-bottom: 100px;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
      margin-bottom: 75px;
    }
  }
  .portfolio__pic {
    display: inline-block;
    margin-bottom: 10px;
    @media (max-width: 1000px) {
      margin-bottom: 35px;
    }
  }
  .portfolio__img {
    object-fit: cover;
    height: auto;
    @media (max-width: 1000px) {
      height: 450px;
    }
  }
  .portfolio__box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: 1000px) {
      gap: 15px;
    }
  }
  .portfolio__list-info {
    min-width: 300px;
    margin-top: 10px;
    & .portfolio__list-item {
      font-size: 24px;
      line-height: 120%;
      opacity: 0.8;
      color: $black;
      margin-bottom: 5px;
    }
    @media (max-width: 1000px) {
      min-width: 100%;
    }
  }
  .portfolio__list-benefits {
    width: 100%;
    & .portfolio__list-item {
      @extend %om-600;
      position: relative;
      font-size: 18px;
      line-height: 125%;
      padding: 15px 50px 10px 0;
      opacity: 0.8;
      color: #838383;
      border-bottom: 2px solid #d6d6d6;
      transition: all 0.3s;
      &::after {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        content: url('../images/icons/arrow-right-gray.svg');
        transition: all 0.3s;
      }
    }
  }
}

.contacts {
  padding: 100px 0 150px;
  @media (max-width: 1000px) {
    padding: 50px 0 100px;
  }
  .contacts__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  .contacts__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1000px) {
      gap: 35px;
    }
  }
  .contacts__top {
    max-width: 500px;
  }
  .contacts__title {
    @extend %inter-500;
    font-size: 110px;
    line-height: 100%;
    margin-bottom: 35px;
    @media (max-width: 1000px) {
      font-size: 48px;
      margin-bottom: 25px;
    }
  }
  .contacts__text {
    font-size: 18px;
    line-height: 135%;
    color: #838383;
  }
  .contacts__list {
    dt {
      @extend %inter-500;
      font-size: 24px;
      line-height: 100%;
      opacity: 0.8;
      color: $black1;
      width: 50%;
      font-style: normal;
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
    dd {
      @extend %om-400;
      font-size: 18px;
      line-height: 125%;
      width: 50%;
      color: #838383;
      font-style: normal;
      @media (max-width: 1000px) {
        width: 100%;
      }
    }
  }
  .contacts__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    border-top: 1px solid #d4d4d4;
    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }
  .contacts__phone {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .contacts__link {
    @extend %om-400;
    font-size: 18px;
    line-height: 125%;
    color: #838383;
  }
  .contacts__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #d4d4d4;
    @media (max-width: 1500px) {
      gap: 15px;
    }
  }
  .contacts__social-title {
    @extend %inter-500;
    font-size: 24px;
    line-height: 100%;
    opacity: 0.8;
    color: $black1;
    width: 50%;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
  .contacts__social-list {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 50%;
    @media (max-width: 1000px) {
      width: 100%;
    }
  }
  .contacts__social-link {
    &:hover svg path {
      fill: #b9b9b8;
      transition: all 0.3s;
    }
  }
  .contacts__map {
    width: 950px;
    @media (max-width: 1500px) {
      width: 500px;
    }
    @media (max-width: 1000px) {
      width: 100%;
      height: 620px;
    }
  }
}

.footer {
  background-color: $black;
  padding: 50px 0 25px;
  font-size: 16px;
  line-height: 118%;
  color: $white;
  @media (max-width: 768px) {
    padding: 35px 0 25px;
  }
  .footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 50px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 35px;
      margin-bottom: 35px;
    }
  }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    gap: 50px;
    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, minmax(100px, 300px));
      grid-template-rows: repeat(2, auto);
      gap: 35px;
    }
    @media (max-width: 500px) {
      grid-template-columns: repeat(1, minmax(100px, 300px));
      grid-template-rows: repeat(4, auto);
    }
  }
  .footer__logo {
    width: 200px;
    @media (max-width: 768px) {
      align-self: center;
    }
  }
  .footer__col-title {
    @extend %inter-700;
    margin-bottom: 15px;
  }
  .footer__item {
    margin-bottom: 12px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
  .footer__link {
    @extend %inter-400;
    font-size: 16px;
    line-height: 118%;
    color: $white;
    transition: all 0.3s;
    opacity: 0.8;
  }
  .footer__link:hover {
    color: darken($color: $white, $amount: 20%);
  }
  .footer__social-link:hover svg path {
    fill: #b9b9b8;
    transition: all 0.3s;
  }
  .footer__link-tel {
    display: block;
    opacity: 0.6;
    margin-bottom: 5px;
  }
  .footer__link-tel:last-child {
    margin-bottom: 0;
  }
  .footer__box {
    margin-bottom: 30px;
  }
  .footer__box-tel {
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }
  .footer__working {
    max-width: 175px;
    opacity: 0.6;
    font-size: 16px;
    line-height: 118%;
  }
  .footer__address {
    max-width: 150px;
    opacity: 0.6;
    font-style: normal;
    font-size: 16px;
    line-height: 118%;
  }
  .footer__social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  .footer__copy {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    color: inherit;
    padding-top: 15px;
    border-top: 1px solid $white;
    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
  .footer__copy-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    width: 73%;
    @media (max-width: 1200px) {
      width: 100%;
      gap: 25px;
    }
  }
}
