<section class="reviews section block">
  <div class="container">
    <div class="reviews__inner section__grid">
      <div class="reviews__subtitle section__subtitle">Kundenbewertungen</div>
      <div class="reviews__content">
        <p class="section__slogan">
          Lesen Sie, was unsere zufriedenen Kunden über unsere Dienstleistungen und Ihre Erfahrungen
          mit Alexspanndecken sagen.
        </p>
      </div>
    </div>

    <div class="reviews__container">
      <div class="reviews__left">
        <picture class="reviews__pic">
          <source srcset="./images/content/reviews1.webp" type="image/webp" />
          <source srcset="./images/content/reviews1.avif" type="image/avif" />
          <img src="./images/content/reviews1.jpg" class="reviews__img" alt="Kundenbewertungen" />
        </picture>
      </div>
      <div class="reviews__right">
        <div class="swiper reviews__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture class="reviews__pic">
                <source srcset="./images/content/reviews2.webp" type="image/webp" />
                <source srcset="./images/content/reviews2.avif" type="image/avif" />
                <img
                  src="./images/content/reviews2.jpg"
                  class="reviews__img"
                  alt="Kundenbewertungen"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="reviews__pic">
                <source srcset="./images/content/reviews3.webp" type="image/webp" />
                <source srcset="./images/content/reviews3.avif" type="image/avif" />
                <img
                  src="./images/content/reviews3.jpg"
                  class="reviews__img"
                  alt="Kundenbewertungen"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="reviews__pic">
                <source srcset="./images/content/reviews2.webp" type="image/webp" />
                <source srcset="./images/content/reviews2.avif" type="image/avif" />
                <img
                  src="./images/content/reviews2.jpg"
                  class="reviews__img"
                  alt="Kundenbewertungen"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="reviews__pic">
                <source srcset="./images/content/reviews3.webp" type="image/webp" />
                <source srcset="./images/content/reviews3.avif" type="image/avif" />
                <img
                  src="./images/content/reviews3.jpg"
                  class="reviews__img"
                  alt="Kundenbewertungen"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="reviews__pic">
                <source srcset="./images/content/reviews2.webp" type="image/webp" />
                <source srcset="./images/content/reviews2.avif" type="image/avif" />
                <img
                  src="./images/content/reviews2.jpg"
                  class="reviews__img"
                  alt="Kundenbewertungen"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="reviews__pic">
                <source srcset="./images/content/reviews3.webp" type="image/webp" />
                <source srcset="./images/content/reviews3.avif" type="image/avif" />
                <img
                  src="./images/content/reviews3.jpg"
                  class="reviews__img"
                  alt="Kundenbewertungen"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
