<section class="manufact section block">
  <div class="container">
    <div class="manufact__inner section__grid">
      <div class="manufact__subtitle section__subtitle">Eigene <br />Herstellung</div>
      <div class="manufact__content">
        <p class="manufact__text section__slogan">
          Entdecken Sie die Produktion von Spanndecken und Profilsystemen bei Alexspanndecken. Wir
          bieten die besten Materialien und modernste Technologien für erstklassige Qualität an.
        </p>
        <div class="manufact__video">
          <div class="manufact__video-box">
            <picture class="manufact__pic">
              <source srcset="./images/content/manufact.webp" type="image/webp" />
              <source srcset="./images/content/manufact.avif" type="image/avif" />
              <img
                src="./images/content/manufact.jpg"
                class="manufact__img"
                alt="Eigene Herstellung"
              />
            </picture>
            <button class="manufact__video-btn"></button>
          </div>
          <div class="manufact__tip">Produktion</div>
        </div>
      </div>
    </div>
  </div>
</section>
