<section class="manufact block">
  <div class="container">
    <div class="manufact__inner block__inner">
      <h2 class="manufact__title block__title">Eigene Herstellung</h2>
      <div class="manufact__content block__content">
        <p class="manufact__text block__slogan">
          Entdecken Sie die Produktion von Spanndecken und Profilsystemen bei Alexspanndecken. Wir
          bieten die besten Materialien und modernste Technologien für erstklassige Qualität an.
        </p>
        <div class="manufact__video">
          <div class="manufact__video-box">
            <picture class="manufact__pic">
              <source srcset="./images/content/manufact.webp" type="image/webp" />
              <source srcset="./images/content/manufact.avif" type="image/avif" />
              <img src="./images/content/manufact.jpg" class="manufact__img" alt="Видео картинка" />
            </picture>
            <button class="manufact__video-btn"></button>
          </div>
          <div class="manufact__tip">Produktion</div>
        </div>
      </div>
    </div>
  </div>
</section>
