<section class="mounting block">
  <div class="container">
    <div class="mounting__inner block__inner">
      <h2 class="mounting__title block__title">Einbauservice</h2>
      <div class="mounting__content block__content">
        <p class="block__slogan">
          Die professionelle Montage von Spanndecken durch Alexspanndecken steht für Qualität,
          Ästhetik und Langlebigkeit. Wir setzen Ihre Ideen um, indem wir die modernsten Materialien
          und Technologien verwenden.
        </p>
      </div>
    </div>
    <div class="mounting__box">
      <div class="mounting__left">
        <div class="mounting__item mounting__item-decor"></div>
        <div class="mounting__item">
          <p class="mounting__text mounting__left-text">
            Unsere Fachleute montieren Spanndecken jeder Komplexität schnell und präzise. Wir
            kümmern uns um jeden Schritt der Montage – von genauen Messungen bis zu den letzten
            Details. Ihr Interieur wird verwandelt, und Sie können sich jahrelang an einem perfekten
            Ergebnis <span>erfreuen</span>.
          </p>
          <a class="mounting__link" href="#">Weitere Details</a>
        </div>
        <div class="mounting__item mounting__item-decor"></div>
        <div class="mounting__item mounting__item-decor"></div>
        <div class="mounting__item mounting__item-decor"></div>
        <div class="mounting__item mounting__item-decor"></div>
        <div class="mounting__item mounting__item-img mounting__item-img1">
          <picture class="mounting__pic">
            <source srcset="./images/content/montage1.webp" type="image/webp" />
            <source srcset="./images/content/montage1.avif" type="image/avif" />
            <img
              src="./images/content/montage1.jpg"
              class="mounting__img"
              alt="Установка"
              width="297"
              height="297"
            />
          </picture>
        </div>
        <div class="mounting__item mounting__item-img mounting__item-img2">
          <picture class="mounting__pic">
            <source srcset="./images/content/montage2.webp" type="image/webp" />
            <source srcset="./images/content/montage2.avif" type="image/avif" />
            <img
              src="./images/content/montage2.jpg"
              class="mounting__img"
              alt="Установка"
              width="297"
              height="297"
            />
          </picture>
        </div>
        <div class="mounting__item mounting__item-decor"></div>
      </div>
      <div class="mounting__right">
        <picture class="mounting__right-pic">
          <source srcset="./images/content/montage3.webp" type="image/webp" />
          <source srcset="./images/content/montage3.avif" type="image/avif" />
          <img
            src="./images/content/montage3.jpg"
            class="mounting__img"
            alt="Установка"
            width="930"
            height="834"
          />
        </picture>
        <div class="mounting__right-box">
          <p class="mounting__text mounting__right-text">
            Werfen Sie einen Blick auf unsere abgeschlossenen Projekte und überzeugen Sie sich von
            der hohen Qualität unserer Arbeit! Besuchen Sie das Portfolio und lassen Sie sich für
            Ihre neue Decke inspirieren.
          </p>
          <a class="mounting__link" href="#">Portfolio</a>
        </div>
      </div>
    </div>
  </div>
</section>
