<section class="first block">
  <div class="container">
    <div class="first__inner">
      <div class="first__left first__col">
        <div class="first__text">[Wir produzieren innerhalb eines Tages]</div>
        <div class="first__text">[Stil]</div>
      </div>
      <div class="first__center first__col">
        <div class="first__box">
          <h1 class="first__title">Hersteller von Spanndecken</h1>
          <p class="first__slogan">
            Wir fertigen und versenden Spanndecken nach Maß innerhalb eines Tages!
          </p>
          <button class="first__btn">Reichen Sie Ihre Bestellung ein</button>
        </div>
        <div class="first__text first__center-text">[Zuverlässigkeit]</div>
      </div>
      <div class="first__right first__col">
        <div class="first__text">[Höchste Qualität]</div>
        <div class="first__text">[Qualität]</div>
      </div>
    </div>
  </div>
</section>
