<section class="products block">
  <div class="container">
    <div class="products__inner block__inner">
      <h2 class="products__title block__title">Produkte</h2>
      <div class="products__content block__content">
        <p class="products__text block__slogan">Große Auswahl an Produkten jeder Kategorie.</p>
      </div>
    </div>
    <div class="products__catalog">
      <div class="products__catalog-item">
        <picture class="products__pic">
          <source srcset="./images/content/products/prod1.webp" type="image/webp" />
          <source srcset="./images/content/products/prod1.avif" type="image/avif" />
          <img
            src="./images/content/products/prod1.png"
            class="products__catalog-img"
            alt="Товар"
            width="417"
            height="425"
          />
        </picture>
        <a class="products__catalog-name" href="#">Spanndecken</a>
      </div>
      <div class="products__catalog-item">
        <p class="products__catalog-text">
          In unserem Katalog finden Sie alle benötigten Produkte für erfolgreiche Montage der
          Spanndecken.
        </p>
        <button class="products__catalog-btn">Zum Katalog</button>
      </div>
      <div class="products__catalog-item">
        <picture class="products__pic">
          <source srcset="./images/content/products/prod2.webp" type="image/webp" />
          <source srcset="./images/content/products/prod2.avif" type="image/avif" />
          <img
            src="./images/content/products/prod2.png"
            class="products__catalog-img"
            alt="Товар"
            width="257"
            height="189"
          />
        </picture>
        <a class="products__catalog-name" href="#">Profile</a>
      </div>
      <div class="products__catalog-item">
        <picture class="products__pic">
          <source srcset="./images/content/products/prod3.webp" type="image/webp" />
          <source srcset="./images/content/products/prod3.avif" type="image/avif" />
          <img
            src="./images/content/products/prod3.png"
            class="products__catalog-img"
            alt="Товар"
            width="257"
            height="189"
          />
        </picture>
        <a class="products__catalog-name" href="#">Spanndecken Zubehör</a>
      </div>
      <div class="products__catalog-item">
        <picture class="products__pic">
          <source srcset="./images/content/products/prod4.webp" type="image/webp" />
          <source srcset="./images/content/products/prod4.avif" type="image/avif" />
          <img
            src="./images/content/products/prod1.png"
            class="products__catalog-img"
            alt="Товар"
            width="571"
            height="414"
          />
        </picture>
        <a class="products__catalog-name" href="#">Spanndecken Beleuchtung</a>
      </div>
    </div>
  </div>
</section>
