<section class="about block">
  <div class="container">
    <div class="about__inner block__inner">
      <h2 class="about__title block__title">Über uns</h2>
      <div class="about__content block__content">
        <p class="about__text block__text">
          Willkommen in der Welt der stilvollen und hochwertigen Spanndecken von Alexspanndecken!
          Wir <span>schaffen</span> nicht nur Decken – wir verwandeln Ihre Ideen in Realität, indem
          wir moderne Lösungen und erstklassigen Service bieten.
        </p>
        <div class="about__box">
          <picture class="about__pic">
            <source srcset="../images/content/about.webp" type="image/webp" />
            <source srcset="../images/content/about.avif" type="image/avif" />
            <img
              src="../images/content/about.jpg"
              class="about__img"
              alt="О нас"
              width="464"
              height="567"
            />
          </picture>
          <div class="about__info">
            <div class="about__info-box">
              <p class="about__info-text">
                Gegründet im Jahr 2015, hat Alexspanndecken seit 2020 seine eigene Produktion von
                Spanndecken aufgebaut. Wir sind stolz darauf, unseren Kunden Produkte höchster
                Qualität anzubieten und Aufträge in kürzester Zeit zu erfüllen.
              </p>
              <p class="about__info-text">
                Unsere innovativen Ansätze und unser Streben nach Perfektion helfen uns, stets an
                der Spitze des Marktes zu bleiben, indem wir an internationalen Foren teilnehmen und
                neue Technologien einführen. Wir tun alles, um Ihre Räume perfekt zu gestalten.
              </p>
            </div>

            <h3 class="about__info-title">Weitere Details</h3>
            <dl class="about__info-list">
              <div class="about__info-item">
                <dt>Gründungsjahr des Unternehmens</dt>
                <dd>2015</dd>
              </div>
              <div class="about__info-item">
                <dt>Eigene Herstellung</dt>
                <dd>seit 2020</dd>
              </div>
              <div class="about__info-item">
                <dt>Produktpalette</dt>
                <dd>+ 500</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
