<section class="best block">
  <div class="container">
    <div class="best__inner block__inner">
      <h2 class="best__title block__title">Warum wir die Besten sind</h2>
      <div class="best__content block__content">
        <p class="best__text block__text">
          Wir schätzen Qualität, Schnelligkeit und Sicherheit. Jede Phase der Zusammenarbeit mit uns
          wird bei Ihnen einen positiven Eindruck hinterlassen.
        </p>
        <div class="best__box">
          <div class="best__info">
            <div class="best__info-item">
              <div class="best__info-title">Zertifikate und Garantien</div>
              <p class="best__info-text">
                Alle unsere Produkte verfügen über internationale Qualitätszertifikate, die
                Sicherheit und Langlebigkeit gewährleisten.
              </p>
            </div>
            <div class="best__info-item">
              <div class="best__info-title">Originalprodukt</div>
              <p class="best__info-text">
                Unser Produkt kann mit Infrarotlicht überprüft werden, was seine Echtheit und
                Qualität bestätigt.
              </p>
            </div>
            <div class="best__info-item">
              <div class="best__info-title">Geschwindigkeit der Produktion und Lieferung</div>
              <p class="best__info-text">
                Wir fertigen und versenden Ihre Spanndecke innerhalb von nur einem Tag.
              </p>
            </div>
            <div class="best__info-item">
              <div class="best__info-title">Brandsicherheit</div>
              <p class="best__info-text">
                Unsere Spanndecken sind hochgradig brandsicher und unterstützen keine
                <span>Entzündung</span>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
