<section class="edu-certificate block">
  <div class="container">
    <div class="edu-certificate__top">
      <h2 class="edu-certificate__title block__title">Was der Teilnehmer erhält</h2>
    <div class="edu-certificate__subtitle">Nach Abschluss des </div>
    </div>
    <div class="edu-certificate__content">
      <p class="edu-certificate__slogan edu-certificate__slogan-left">
        Fähigkeiten und Kenntnisse, sondern auch ein Zertifikat.
      </p>
      <picture class="edu-certificate__pic">
        <source srcset="./images/content/edu-certificate.webp" type="image/webp" />
        <source srcset="./images/content/edu-certificate.avif" type="image/avif" />
        <img
          src="./images/content/edu-certificate.jpg"
          class="edu-certificate__img"
          alt="Was der Teilnehmer erhält"
          width="613"
          height="464"
        />
      </picture>
      <p class="edu-certificate__slogan edu-certificate__slogan-right">
        Kurses erhalten Sie nicht nur die erforderlichen 
      </p>
      </div>
    </div>
  </div>
</section>
