<section class="masters block">
  <div class="container">
    <div class="masters__inner block__inner">
      <h2 class="masters__title block__title">Für Handwerker</h2>
      <div class="masters__content block__content">
        <p class="masters__text block__text">
          Wie kann ein Monteur das Projekt an einem Tag abschließen? Die Firma Alexspanndecken
          stellt die Spanndecke her und liefert sie innerhalb eines Tages.
        </p>
        <div class="masters__box">
          <picture class="masters__pic">
            <source srcset="./images/content/masters.webp" type="image/webp" />
            <source srcset="./images/content/masters.avif" type="image/avif" />
            <img
              src="./images/content/masters.jpg"
              class="masters__img"
              alt="Наши мастера"
              width="464"
              height="464"
            />
          </picture>
          <div class="masters__info">
            <div class="masters__info-item">
              <div class="masters__info-num">[ 01 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Vermessung</div>
                <p class="masters__info-text">
                  Der Monteur nimmt die Messungen vor Ort und zeichnet die Decke in seinem
                  Zeichenprogramm.
                </p>
              </div>
            </div>
            <div class="masters__info-item">
              <div class="masters__info-num">[ 02 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Bestellung der Spanndecken</div>
                <p class="masters__info-text">
                  Diese Zeichnung wird an uns übermittelt. Wir beginnen die Produktion der Folie für
                  diesen Auftrag mit einem professionellen Programm, in das die Zeichnung eingegeben
                  wird.
                </p>
              </div>
            </div>
            <div class="masters__info-item">
              <div class="masters__info-num">[ 03 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Produktionsprozess</div>
                <p class="masters__info-text">
                  Der Zuschnitt der Spanndeckenfolie erfolgt automatisch. Der passende Keder wird je
                  nach Anforderung ausgewählt und auf speziellen Geräten an die Spanndeckenfolie
                  angebracht.
                </p>
              </div>
            </div>
            <div class="masters__info-item">
              <div class="masters__info-num">[ 04 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Verpackung</div>
                <p class="masters__info-text">
                  Vor dem Versand wird die Qualität der Spanndecke geprüft. Sie wird sorgfältig
                  gefaltet und sicher verpackt.
                </p>
              </div>
            </div>
            <div class="masters__info-item">
              <div class="masters__info-num">[ 05 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Versand an den Kunden</div>
                <p class="masters__info-text">
                  Wir versenden unsere Produkte per DHL, GLS und UPS. Nur beim Versand über UPS ist
                  eine Lieferung innerhalb von 24 Stunden möglich!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
