<section class="reviews block">
  <div class="container">
    <div class="reviews__inner block__inner">
      <h2 class="reviews__title block__title">Kundenbewertungen</h2>
      <div class="reviews__content block__content">
        <p class="block__text">
          Lesen Sie, was unsere zufriedenen Kunden über unsere Dienstleistungen und Ihre Erfahrungen
          mit Alexspanndecken sagen.
        </p>
      </div>
    </div>

    <div class="reviews__container">
      <div class="reviews__left">
        <picture class="products__pic">
          <source srcset="../images/content/reviews1.webp" type="image/webp" />
          <source srcset="../images/content/reviews1.avif" type="image/avif" />
          <img
            src="../images/content/reviews1.jpg"
            class="reviews__img"
            alt=""
            width=""
            height=""
          />
        </picture>
      </div>
      <div class="reviews__right">
        <div class="swiper reviews__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture class="products__pic">
                <source srcset="../images/content/reviews2.webp" type="image/webp" />
                <source srcset="../images/content/reviews2.avif" type="image/avif" />
                <img
                  src="../images/content/reviews2.jpg"
                  class="reviews__img"
                  alt=""
                  width=""
                  height=""
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="products__pic">
                <source srcset="../images/content/reviews3.webp" type="image/webp" />
                <source srcset="../images/content/reviews3.avif" type="image/avif" />
                <img
                  src="../images/content/reviews3.jpg"
                  class="reviews__img"
                  alt=""
                  width=""
                  height=""
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="products__pic">
                <source srcset="../images/content/reviews2.webp" type="image/webp" />
                <source srcset="../images/content/reviews2.avif" type="image/avif" />
                <img
                  src="../images/content/reviews2.jpg"
                  class="reviews__img"
                  alt=""
                  width=""
                  height=""
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="products__pic">
                <source srcset="../images/content/reviews3.webp" type="image/webp" />
                <source srcset="../images/content/reviews3.avif" type="image/avif" />
                <img
                  src="../images/content/reviews3.jpg"
                  class="reviews__img"
                  alt=""
                  width=""
                  height=""
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="products__pic">
                <source srcset="../images/content/reviews2.webp" type="image/webp" />
                <source srcset="../images/content/reviews2.avif" type="image/avif" />
                <img
                  src="../images/content/reviews2.jpg"
                  class="reviews__img"
                  alt=""
                  width=""
                  height=""
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture class="products__pic">
                <source srcset="../images/content/reviews3.webp" type="image/webp" />
                <source srcset="../images/content/reviews3.avif" type="image/avif" />
                <img
                  src="../images/content/reviews3.jpg"
                  class="reviews__img"
                  alt=""
                  width=""
                  height=""
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

      <!-- <div class="stages__right">
        <div class="swiper stages__swiper">
          <div class="swiper-wrapper stages__swiper-wrapper">
            <div class="swiper-slide stages__swiper-slide">
              <h2 class="stages__subtitle">Заявка и консультация</h2>
              <p class="stages__text">
                Владелец частного дома связывается с компанией, предлагающей установку
                видеодомофона, и подает заявку.
              </p>
              <p class="stages__text">
                После этого происходит обследование объекта и консультация, в ходе которой
                определяются требования заказчика, особенности дома и подбирается подходящая модель
                видеодомофона.
              </p>
            </div>
            <div class="swiper-slide stages__swiper-slide">
              <h2 class="stages__subtitle">Разработка технического решения</h2>
              <p class="stages__text">
                Исходя из полученных данных мы подбираем максимально разумное решение. Происходит
                согласование стоимости с Заказчиком. При необходимости производит оформление проекта
              </p>
            </div>
            <div class="swiper-slide stages__swiper-slide">
              <h2 class="stages__subtitle">Подготовка места установки</h2>
              <p class="stages__text">
                Перед приездом специалистов необходимо подготовить место для установки
                видеодомофона. Это может включать в себя очистку стены или поверхности, на которой
                будет установлено устройство, а также предоставление доступа к необходимым
                электрическим и сетевым точкам.
              </p>
            </div>
            <div class="swiper-slide stages__swiper-slide">
              <h2 class="stages__subtitle">Заявка и консультация</h2>
              <p class="stages__text">
                Владелец частного дома связывается с компанией, предлагающей установку
                видеодомофона, и подает заявку.
              </p>
              <p class="stages__text">
                После этого происходит обследование объекта и консультация, в ходе которой
                определяются требования заказчика, особенности дома и подбирается подходящая модель
                видеодомофона.
              </p>
            </div>
            <div class="swiper-slide stages__swiper-slide">
              <h2 class="stages__subtitle">Разработка технического решения</h2>
              <p class="stages__text">
                Исходя из полученных данных мы подбираем максимально разумное решение. Происходит
                согласование стоимости с Заказчиком. При необходимости производит оформление проекта
              </p>
            </div>
            <div class="swiper-slide stages__swiper-slide">
              <h2 class="stages__subtitle">Подготовка места установки</h2>
              <p class="stages__text">
                Перед приездом специалистов необходимо подготовить место для установки
                видеодомофона. Это может включать в себя очистку стены или поверхности, на которой
                будет установлено устройство, а также предоставление доступа к необходимым
                электрическим и сетевым точкам.
              </p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
