<section class="support block">
  <div class="container">
    <div class="support__inner block__inner">
      <h2 class="support__title block__title">Wir bieten Unterstützung</h2>
      <div class="support__content block__content">
        <p class="block__text">
          Wir bieten nicht nur Schulungen an – wir inspirieren und eröffnen Ihnen neue
          Möglichkeiten.
        </p>
      </div>
    </div>
    <div class="support__box">
      <div class="support__item">
        <picture class="support__pic">
          <source srcset="../images/content/support1.webp" type="image/webp" />
          <source srcset="../images/content/support1.avif" type="image/avif" />
          <img
            src="../images/content/support1.jpg"
            class="support__img support__img1"
            alt="Установка"
            width="464"
            height="288"
          />
        </picture>
      </div>
      <div class="support__item">
        <picture class="support__pic">
          <source srcset="../images/content/support2.webp" type="image/webp" />
          <source srcset="../images/content/support2.avif" type="image/avif" />
          <img
            src="../images/content/support2.jpg"
            class="support__img"
            alt="Установка"
            width="614"
            height="550"
          />
        </picture>
      </div>

      <div class="support__item">
        <div class="support__item-box">
          <p class="support__text">
            Unsere Kurse sind ideal für Anfänger sowie erfahrene Fachleute. Sie lernen alle
            Feinheiten der Arbeit mit neuen Materialien, erhalten einzigartige praktische
            Fähigkeiten und beherrschen modernste Technologien.
          </p>
          <a class="support__link" href="#">Weitere Details</a>
        </div>
        <picture class="support__pic">
          <source srcset="../images/content/support3.webp" type="image/webp" />
          <source srcset="../images/content/support3.avif" type="image/avif" />
          <img
            src="../images/content/support3.jpg"
            class="support__img support__img3"
            alt="Установка"
            width="297"
            height="297"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
