<section class="masters block section">
  <div class="container">
    <div class="masters__inner section__grid">
      <div class="masters__title section__subtitle">Eigene Herstellung</div>
      <div class="masters__content">
        <p class="masters__text section__slogan">
          Die Installation von Spanndecken ist eine Kunst, die Präzision, Professionalität und
          sorgfältige Beachtung der Details erfordert.
        </p>
        <div class="masters__box">
          <picture class="masters__pic">
            <source srcset="./images/content/masters1.webp" type="image/webp" />
            <source srcset="./images/content/masters1.avif" type="image/avif" />
            <img
              src="./images/content/masters1.jpg"
              class="masters__img"
              alt="Eigene Herstellung"
              width="464"
              height="464"
            />
          </picture>
          <div class="masters__info">
            <div class="masters__info-item">
              <div class="masters__info-num">[ 01 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Antrag auf Installation</div>
                <p class="masters__info-text">
                  Der Kunde hinterlässt einen Antrag auf Installation einer Spanndecke, indem er
                  seine Kontaktdaten und Vorlieben angibt.
                </p>
              </div>
            </div>
            <div class="masters__info-item">
              <div class="masters__info-num">[ 02 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Einholen einer geschätzten Kosten</div>
                <p class="masters__info-text">
                  Wir setzen uns mit dem Kunden in Verbindung, erörtern eine vorläufige
                  Kostenschätzung für die Arbeiten und vereinbaren die Bedingungen der Installation.
                </p>
              </div>
            </div>
            <div class="masters__info-item">
              <div class="masters__info-num">[ 03 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Besuch des Fachmanns und Raumvermessung</div>
                <p class="masters__info-text">
                  Der Fachmann besucht den Objekt, um den Raum zu vermessen und die erforderlichen
                  Materialien zu bestimmen.
                </p>
              </div>
            </div>
            <div class="masters__info-item">
              <div class="masters__info-num">[ 04 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Einbau einer Spanndecke</div>
                <p class="masters__info-text">
                  Der Fachmann installiert die Spanndecke, indem er modernes Equipment und
                  Materialien verwendet.
                </p>
              </div>
            </div>
            <div class="masters__info-item">
              <div class="masters__info-num">[ 05 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Abnahme des Objekts</div>
                <p class="masters__info-text">
                  Der Kunde überprüft das fertige Objekt und bestätigt seine Übereinstimmung mit den
                  Anforderungen.
                </p>
              </div>
            </div>
            <div class="masters__info-item">
              <div class="masters__info-num">[ 06 ]</div>
              <div class="masters__info-box">
                <div class="masters__info-title">Zahlung</div>
                <p class="masters__info-text">Der Kunde zahlt für die erbrachten Leistungen.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
