<section class="mounting block section">
  <div class="container">
    <div class="mounting__inner section__grid">
      <div class="mounting__subtitle section__subtitle">Installation einer Spanndecke</div>
      <div class="mounting__slogan section__slogan">
        Das Unternehmen Alex Spanndecken ist in ganz Europa tätig. Wenn Sie sich an das Unternehmen
        Alex Spanndecken wenden, erhält der Kunde eine professionelle Installation von Spanndecken
        und Beleuchtung.
      </div>
    </div>
    <div class="mounting__box">
      <div class="mounting__item">
        <picture class="mounting__pic">
          <source srcset="./images/content/page-service/service1.webp" type="image/webp" />
          <source srcset="./images/content/page-service/service1.avif" type="image/avif" />
          <img
            src="./images/content/page-service/service1.jpg"
            class="mounting__img mounting__img1"
            alt="Installation einer Spanndecke"
            width="464"
            height="297"
          />
        </picture>
        <div class="mounting__col">
          <p class="mounting__text">
            Unsere Fachleute kommen zu Ihnen auf den Objekt oder, wenn das Objekt in einem anderen
            Land liegt, werden Sie von unseren Partnern betreut, die bei uns Weiterbildungslehrgänge
            absolviert haben.
          </p>
          <p class="mounting__text">
            In jedem Fall garantieren wir eine hervorragende Installationsqualität!
          </p>
          <a class="mounting__link" href="#">Zum Portfolio gehen</a>
        </div>
      </div>
      <div class="mounting__item">
        <picture class="mounting__pic">
          <source srcset="./images/content/page-service/service2.webp" type="image/webp" />
          <source srcset="./images/content/page-service/service2.avif" type="image/avif" />
          <img
            src="./images/content/page-service/service2.jpg"
            class="mounting__img mounting__img2"
            alt="Installation einer Spanndecke"
            width="614"
            height="490"
          />
        </picture>
        <picture class="mounting__pic">
          <source srcset="./images/content/page-service/service3.webp" type="image/webp" />
          <source srcset="./images/content/page-service/service3.avif" type="image/avif" />
          <img
            src="./images/content/page-service/service3.jpg"
            class="mounting__img mounting__img3"
            alt="Installation einer Spanndecke"
            width="297"
            height="297"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
