<section class="section block webest">
  <div class="container">
    <div class="section__grid">
      <div class="section__subtitle">Warum wirdie Besten sind</div>
      <div class="section__container">
        <p class="webest__slogan section__slogan indent">
          Wir bilden zukünftige Partner aus, anstatt uns Konkurrenten zu schaffen!
        </p>
        <div class="webest__box">
          <div class="webest__box-item">
            <div class="webest__box-num">[ 01 ]</div>
            <div class="webest__box-title">Montage und Herstellung jeglicher Komplexität</div>
            <div class="webest__box-content">
              <p class="webest__box-text">
                Unser Team erfahrener Fachleute garantiert hohe Qualität und Präzision bei der
                Arbeit, sowie eine schnelle Fertigstellung. Wir verwenden nur hochwertige
                Materialien und moderne Ausrüstung, um die Langlebigkeit und Ästhetik der fertigen
                Decke zu gewährleisten.
              </p>
            </div>
          </div>
          <div class="webest__box-item">
            <div class="webest__box-num">[ 02 ]</div>
            <div class="webest__box-title">Herstellung und Montage innerhalb eines Tages</div>
            <div class="webest__box-content">
              <p class="webest__box-text">
                Während unser Team die Profilsystem auf der Baustelle installiert, produzieren
                unsere Fachleute das Tuch für den Spanndecken. Sobald es fertig ist, senden wir es
                zur Baustelle, wo unsere Montageexperten es mit höchster Präzision und Qualität
                installieren.
              </p>
            </div>
          </div>
          <div class="webest__box-item">
            <div class="webest__box-num">[ 03 ]</div>
            <div class="webest__box-title">Lieferung in ganz Europa</div>
            <div class="webest__box-content">
              <p class="webest__box-text">
                Wir arbeiten mit folgenden Postdienstleistern zusammen: DHL, GLS und UPS.
              </p>
              <p class="webest__box-text">
                Wir übernehmen die Verantwortung für die Sicherheit der von Ihnen bestellten Ware
                von der Versendung bis zur Zustellung.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
