<section class="first block">
  <div class="first__inner">
    <div class="first__left first__col">
      <div class="first__text first__text1">[Wir arbeiten europaweit]</div>
      <div class="first__text first__text2">[Stil]</div>
    </div>
    <div class="first__center first__col">
      <div class="first__box">
        <h1 class="first__title">Installation einer Spanndecke</h1>
        <p class="first__slogan">
          Lorem ipsum dolor sit amet consectetur. Quisque sed vulputate cras scelerisque.
        </p>
        <button class="first__btn">Vorläufige Berechnung</button>
      </div>
    </div>
    <div class="first__right first__col">
      <div class="first__text">[Qualität]</div>
      <div class="first__text">[Zuverlässigkeit]</div>
      <div class="first__text">[Installation]</div>
    </div>
  </div>
</section>
