<section class="section block edu-video">
  <div class="container">
    <div class="section__grid">
      <div class="section__subtitle">Video</div>
      <div class="section__container">
        <p class="edu-video__slogan section__slogan">
          Wir installieren moderne Spanndecken mit Lichtlösungen schnell und professionell.
        </p>
        <div class="edu-video__video-box">
          <picture class="edu-video__pic">
            <source srcset="./images/content/video2.webp" type="image/webp" />
            <source srcset="./images/content/video2.avif" type="image/avif" />
            <img src="./images/content/video2.jpg" class="edu-video__img" alt="Video" />
          </picture>
          <button class="edu-video__video-btn"></button>
        </div>
        <div class="edu-video__tip">Montage von Spanndecken</div>
      </div>
    </div>
  </div>
</section>
