<section class="delivery section">
  <div class="container">
    <div class="delivery__inner section__container">
      <div class="delivery__top section__content">
        <div class="delivery__top-box section__box">
          <a class="delivery__top-link section__link active" href="#">[Zahlung]</a>
          <a class="delivery__top-link section__link" href="#">[Lieferung]</a>
        </div>
        <h1 class="delivery__top-title section__title">Zahlungs-und Lieferbedingungen</h1>
      </div>
      <div class="delivery__content section__content">
        <div class="delivery__name section__name">Lieferung</div>
        <div class="delivery__box">
          <p class="delivery__text section__text section__text-bullet">
            Nach dem Zahlungseingang wird Ihre Bestellung am nächsten Arbeitstag verschickt. Am
            Samstag ist kein Versand möglich.
          </p>
          <p class="delivery__text section__text section__text-bullet">
            Gerne können Sie auch Ihre gewünschten Artikel in Bochum abholen. Wählen Sie dafür bitte
            den Button «Selbstabholung» aus und bestellen Sie verbindlich online. Nach dem
            Zahlungseingang und Terminabsprache ist die Abholung möglich.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
