<section class="storage section">
  <div class="container">
    <div class="storage__content section__container">
      <div class="storage__top section__content">
        <div class="storage__top-box section__box">
          <a class="storage__top-link section__link" href="#">[Datenschutzerklärung]</a>
          <a class="storage__top-link section__link active" href="#">[Impressum]</a>
        </div>
        <h1 class="storage__top-title section__title">Datenschutz und Impressum</h1>
      </div>
      <div class="storage__main section__content">
        <div class="storage__name section__name">Datenschutzerklärung</div>
        <div class="storage__box">
          <p class="storage__text section__text">
            Wir legen großen Wert auf den Schutz Ihrer persönlichen Daten. Nachfolgend möchten wir
            Sie über den Umgang mit Ihren Daten umfassend informieren.
          </p>
          <h2 class="storage__title">
            Datenabfrage und datenverwendung zum kaufabwicklung und bei eröffnung ihres kundenkontos
          </h2>
          <p class="storage__text section__text">
            Wir fragen personenbezogene Daten ab, wenn Sie uns diese in Folge Ihrer Bestellung in
            unserem Online Shop oder bei neuer Anfrage zur Kontaktaufnahme über unser
            Kontaktformular, sowie bei der Kundenkonto Eröffnung mitteilen. Nur die Daten aus den
            jeweiligen Eingabefeldern werden erhoben. Auch die zusätzlichen Daten, wenn Sie uns
            diese freiwillig per Mail oder im Mitteilungsfenster mitteilen. Ihre Daten werden
            ausschließlich zur Rechnungslegung und dem Versand der Ware verwendet. Für den Versand
            werden Ihre Daten: Name und Adresse an das jeweilige Versandunternehmen weitergegeben.
            Löschung Ihrer Personenbezogenen Daten sowie Ihres Kundenkontos ist jederzeit möglich.
            Dafür senden Sie bitte eine formlose E-Mail an folgende E-Mail
            Adresse: info@alexspanndecken.de. Ferner haben Sie jederzeit die Möglichkeit unter oben
            angegebenen Kontaktdaten zu erfahren welche persönlichen Daten von Ihnen gespeichert
            sind.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
