<section class="trends section block">
  <div class="container">
    <div class="trends__inner section__grid">
      <div class="trends__subtitle section__subtitle">Setzen Trends</div>
      <div class="trends__content">
        <div class="trends__slogan section__slogan">
          Das Unternehmen Alexspanndecken ist ein Team von Fachleuten, das stets danach strebt, in
          seiner Arbeit Perfektion zu erreichen. Wir sind stolz auf unsere Erfahrung und die hohe
          Qualität unserer Dienstleistungen.
        </div>
        <div class="trends__box">
          <div class="trends__info section__box">
            <div class="trends__info-box">
              <p class="trends__info-text">
                Alexspanndecken wurde 2015 gegründet und hat seit 2017 eine eigene Produktion von
                Spanndecken aufgebaut, um unseren Kunden nicht nur qualitativ hochwertige, sondern
                auch schnelle Dienstleistungen anbieten zu können.
              </p>
              <p class="trends__info-text">
                Wir legen großen Wert auf neue Trends und Materialien und nehmen jährlich an
                internationalen Foren für Spanndeckenmeister teil. Dies ermöglicht es uns, in der
                Branche sowohl in der Servicequalität als auch in der Verwendung moderner
                Materialien führend zu bleiben.
              </p>
            </div>
          </div>
          <picture class="trends__pic">
            <source srcset="./images/content/about-page.webp" type="image/webp" />
            <source srcset="./images/content/about-page.avif" type="image/avif" />
            <img
              src="./images/content/about-page.jpg"
              class="trends__img"
              alt="О нас"
              width="930"
              height="567"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
