<section class="events block section">
  <div class="container">
    <div class="events__inner section__grid">
      <div class="events__subtitle section__subtitle">Wir bieten Unterstützung</div>
      <div class="events__slogan section__slogan">
        Das Unternehmen Alexspanndecken strebt stets danach, seine Partner zu unterstützen und
        weiterzuentwickeln, indem es ihnen die besten Lösungen und Innovationen im Bereich der
        Spanndecken bietet. Wir sind überzeugt, dass der Erfolg unserer Partner auch unser Erfolg
        ist.
      </div>
    </div>
    <div class="events__box">
      <div class="events__item">
        <picture class="events__pic">
          <source srcset="./images/content/events1.webp" type="image/webp" />
          <source srcset="./images/content/events1.avif" type="image/avif" />
          <img
            src="./images/content/events1.jpg"
            class="events__img events__img1"
            alt="events"
            width="297"
            height="340"
          />
        </picture>
      </div>
      <div class="events__item">
        <picture class="events__pic">
          <source srcset="./images/content/events2.webp" type="image/webp" />
          <source srcset="./images/content/events2.avif" type="image/avif" />
          <img
            src="./images/content/events2.jpg"
            class="events__img events__img2"
            alt="events"
            width="614"
            height="550"
          />
        </picture>
      </div>
      <div class="events__item">
        <p class="events__text">
          Durch die regelmäßige Organisation eigener Veranstaltungen für Spanndeckenmonteure hilft
          Alexspanndecken ihnen, über die neuesten Materialien und Technologien auf dem Laufenden zu
          bleiben. Diese Veranstaltungen zielen darauf ab, die Qualifikation zu verbessern,
          Innovationen vorzustellen und den Erfahrungsaustausch zu fördern.
        </p>
        <picture class="events__pic">
          <source srcset="./images/content/events3.webp" type="image/webp" />
          <source srcset="./images/content/events3.avif" type="image/avif" />
          <img
            src="./images/content/events3.jpg"
            class="events__img events__img3"
            alt="events"
            width="297"
            height="340"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
