<section class="first block">
  <div class="container">
    <div class="first__inner">
      <div class="first__left first__col">
        <div class="first__text">[Wir sind seit 2017 tätig]</div>
        <div class="first__text">[Stil]</div>
      </div>
      <div class="first__center first__col">
        <div class="first__box">
          <h1 class="first__title">Hersteller von Spanndecken</h1>
          <p class="first__slogan">
            Unser Unternehmen ist stets führend im Einsatz von Spitzentechnologien und neuen
            Materialien im Bereich der Spanndecken.
          </p>
          <button class="first__btn">Reichen Sie Ihre Bestellung ein</button>
        </div>
        <div class="first__text first__center-text">[Qualität]</div>
      </div>
      <div class="first__right first__col">
        <div class="first__text">[Über uns]</div>
        <div class="first__text">[Zuverlässigkeit]</div>
      </div>
    </div>
  </div>
</section>
