<section class="webest section block">
  <div class="container">
    <div class="section__grid">
      <div class="section__subtitle">Warum wirdie <br />Besten sind</div>
      <div class="section__content">
        <p class="section__slogan webest__slogan indent">
          Wir bilden zukünftige Partner aus, anstatt uns Konkurrenten zu schaffen!
        </p>
        <div class="webest__box">
          <div class="webest__box-item">
            <div class="webest__box-num">[ 01 ]</div>
            <div class="webest__box-title">Für alle Niveaus</div>
            <div class="webest__box-content">
              <p class="webest__box-text">
                Wir bieten Schulungen von Grund auf und Qualifizierungsprogramme für diejenigen an,
                die nach Perfektion streben.
              </p>
            </div>
          </div>
          <div class="webest__box-item">
            <div class="webest__box-num">[ 02 ]</div>
            <div class="webest__box-title">Erlange schnell eine Qualifikation</div>
            <div class="webest__box-content">
              <p class="webest__box-text">
                Die Schulungsdauer beträgt maximal zwei Tage, unabhängig von Ihrem Niveau.
              </p>
            </div>
          </div>
          <div class="webest__box-item">
            <div class="webest__box-num">[ 03 ]</div>
            <div class="webest__box-title">Team-Schulung</div>
            <div class="webest__box-content">
              <p class="webest__box-text">
                Eine hervorragende Gelegenheit, die Teambindung zu stärken und effektive
                Zusammenarbeit zu erlernen.
              </p>
            </div>
          </div>
          <div class="webest__box-item">
            <div class="webest__box-num">[ 04 ]</div>
            <div class="webest__box-title">Praxis</div>
            <div class="webest__box-content">
              <p class="webest__box-text">
                Unsere Kurse bestehen aus 90% praktischen Übungen und 10% Theorie. Wir geben Ihnen
                die Erfahrung unserer besten Spezialisten weiter.
              </p>
            </div>
          </div>
          <div class="webest__box-item">
            <div class="webest__box-num">[ 05 ]</div>
            <div class="webest__box-title">Wir setzen Trends</div>
            <div class="webest__box-content">
              <p class="webest__box-text">
                Wir schulen Sie in der Montage mit den neuesten Installations- und
                Materialtechnologien, unabhängig von ihrer Komplexität.
              </p>
            </div>
          </div>
          <div class="webest__box-item">
            <div class="webest__box-num">[ 06 ]</div>
            <div class="webest__box-title">Zertifizierung</div>
            <div class="webest__box-content">
              <p class="webest__box-text">
                Nach Abschluss des Kurses erhalten Sie unser Zertifikat, das Ihre erfolgreiche
                Teilnahme am Schulungsprogramm bestätigt.
              </p>
            </div>
          </div>
          <div class="webest__box-item">
            <div class="webest__box-num">[ 07 ]</div>
            <div class="webest__box-title">Weitere fachliche Unterstützung</div>
            <div class="webest__box-content">
              <p class="webest__box-text">
                Jeder unserer Partner-Monteure kann sich bei Bedarf für eine kostenlose
                professionelle Beratung an uns wenden.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
