<section class="edu-video section block">
  <div class="container">
    <div class="edu-video__video section__container">
      <div class="edu-video__video-box">
        <picture class="edu-video__pic">
          <source srcset="./images/content/edu-video.webp" type="image/webp" />
          <source srcset="./images/content/edu-video.avif" type="image/avif" />
          <img
            src="./images/content/edu-video.jpg"
            class="edu-video__img"
            alt="Video zum Ablauf der Kurse Alexspanndecken"
          />
        </picture>
        <button class="edu-video__video-btn"></button>
      </div>
      <div class="edu-video__tip">Video zum Ablauf der Kurse Alexspanndecken</div>
      </div>
    </div>
  </div>
</section>
