<section class="first block">
  <div class="first__inner">
    <div class="first__left first__col">
      <div class="first__text first__text1">[Modernste Technologien in der Praxis]</div>
      <div class="first__text first__text2">[Stil]</div>
    </div>
    <div class="first__center first__col">
      <div class="first__box">
        <h1 class="first__title">Spanndecken Schulung</h1>
        <p class="first__slogan">
          Wir bilden zukünftige Partner aus, anstatt uns Konkurrenten zu schaffen!
        </p>
        <button class="first__btn">vereinbaren Sie einen Termin</button>
      </div>
    </div>
    <div class="first__right first__col">
      <div class="first__text">[Stil]</div>
      <div class="first__text">[Zuverlässigkeit]</div>
      <div class="first__text">[Qualität]</div>
    </div>
  </div>
</section>
