<section class="edu-certificate section block">
  <div class="container">
    <div class="edu-certificate__top">
      <div class="edu-certificate__subtitle section__subtitle">Was der <br />Teilnehmer <br />erhält</div>
      <div class="edu-certificate__caption">Nach Abschluss des</div>
    </div>
    <div class="edu-certificate__content">
      <p class="edu-certificate__slogan edu-certificate__slogan-left">
        Fähigkeiten und Kenntnisse, sondern auch ein Zertifikat.
      </p>
      <picture class="edu-certificate__pic">
        <source srcset="./images/content/edu-certificate.webp" type="image/webp" />
        <source srcset="./images/content/edu-certificate.avif" type="image/avif" />
        <img
          src="./images/content/edu-certificate.jpg"
          class="edu-certificate__img"
          alt="Was der Teilnehmer erhält"
          width="613"
          height="464"
        />
      </picture>
      <p class="edu-certificate__slogan edu-certificate__slogan-right">
        Kurses erhalten Sie nicht nur die erforderlichen 
      </p>
      </div>
    </div>
  </div>
</section>
