<section class="offer-support section block">
  <div class="container">
    <div class="section__grid">
      <div class="section__subtitle">Wir bieten <br />Unterstützung</div>
      <div class="offer-support__content">
        <p class="section__slogan">
          Wir unterstützen, helfen und beraten!Jeder unserer Partner-Monteure kann sich bei Bedarf
          für eine kostenlose professionelle Beratung an uns wenden.
        </p>
        <div class="offer-support__box">
          <div class="offer-support__col">
            <picture class="offer-support__pic">
              <source srcset="./images/content/page-support.webp" type="image/webp" />
              <source srcset="./images/content/page-support.avif" type="image/avif" />
              <img
                src="./images/content/page-support.jpg"
                class="offer-support__img"
                alt="Wir bieten Unterstützung"
                width="613"
                height="550"
              />
            </picture>
            <div class="offer-support__tip">Bildunterschrift unter dem Foto</div>
          </div>
          <p class="offer-support__text">
            Unsere qualifizierten Spezialisten sind bereit, Sie in jeder neuen oder für Sie
            strittigen Situation, die während der Auftragsvorbereitung oder Montage auftritt, zu
            beraten. Unsere langjährige Erfahrung und hohe Qualifikation helfen Ihnen, alle
            Schwierigkeiten zu meistern!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
