<section class="courses section block">
  <div class="container">
    <div class="courses__inner section__grid">
      <div class="section__subtitle">Für wen sind <br />die Kurse</div>
      <div class="courses__content">
        <p class="courses__text section__slogan">
          Praktische Übung in der eigenen Produktion mit Profilen jeder Komplexität. Alle für die
          Schulung benötigten Materialien werden bereitgestellt.
        </p>
        <div class="courses__box">
          <div class="courses__info">
            <div class="courses__info-item">
              <div class="courses__info-title">Anfänger</div>
              <p class="courses__info-text">
                Wir festigen die Grundkenntnisse in der Praxis unter Anleitung erfahrener Mentoren.
              </p>
            </div>
            <div class="courses__info-item">
              <div class="courses__info-title">Praktizierende Fachleute</div>
              <p class="courses__info-text">
                Weiterbildung und Schulung in den Methoden der Arbeit mit neuen Materialien und
                Befestigungssystemen.
              </p>
            </div>
            <div class="courses__info-item">
              <div class="courses__info-title">Monteure</div>
              <p class="courses__info-text">
                Schwerpunkt auf individuelle praxisorientierte Betreuung.
              </p>
            </div>
            <div class="courses__info-item">
              <div class="courses__info-title">Teams</div>
              <p class="courses__info-text">
                Wir schulen Ihr Team in den erforderlichen Fähigkeiten, steigern die
                Arbeitsgeschwindigkeit und das produktive Zusammenspiel.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
