<section class="edu-procedure section block">
  <div class="container">
    <div class="edu-procedure__inner section__grid">
      <div class="section__subtitle">Ablauf der <br />Schulung</div>
      <div class="edu-procedure__content">
        <p class="edu-procedure__text section__slogan">
          Unsere Kurse bei Alexspanndecken sind darauf ausgerichtet, Ihnen ein maximales Eintauchen
          in die praktische Arbeit mit Spanndecken zu ermöglichen.
        </p>
        <div class="edu-procedure__box">
          <div class="edu-procedure__item">
            <div class="edu-procedure__item-col edu-procedure__item-left">
              <div class="edu-procedure__item-content">
                <h3 class="edu-procedure__item-subtitle">Theorie (Erste Phase)</h3>
                <p class="edu-procedure__item-text">
                  Die Schulung beginnt mit einer kurzen theoretischen Einführung, die nur 10% des
                  gesamten Kursumfangs ausmacht, damit Sie sich mit den grundlegenden Prinzipien und
                  Arbeitsmethoden vertraut machen können.
                </p>
              </div>
            </div>
            <div class="edu-procedure__item-col">
              <picture class="edu-procedure__item-pic">
                <source srcset="./images/content/edu-procedure1.webp" type="image/webp" />
                <source srcset="./images/content/edu-procedure1.avif" type="image/avif" />
                <img
                  src="./images/content/edu-procedure1.jpg"
                  class="edu-procedure__item-img"
                  alt="Ablauf der Schulung"
                  width="613"
                  height="550"
                />
              </picture>
              <div class="edu-procedure__item-tip">Bildunterschrift unter dem Foto</div>
            </div>
          </div>
          <div class="edu-procedure__item">
            <div class="edu-procedure__item-col">
              <picture class="edu-procedure__item-pic">
                <source srcset="./images/content/edu-procedure2.webp" type="image/webp" />
                <source srcset="./images/content/edu-procedure2.avif" type="image/avif" />
                <img
                  src="./images/content/edu-procedure2.jpg"
                  class="edu-procedure__item-img"
                  alt="Bildunterschrift unter dem Foto"
                  width="613"
                  height="550"
                />
              </picture>
              <div class="edu-procedure__item-tip">Bildunterschrift unter dem Foto</div>
            </div>
            <div class="edu-procedure__item-col edu-procedure__item-right">
              <div class="edu-procedure__item-content">
                <h3 class="edu-procedure__item-subtitle">Praxis (Zweite Phase)</h3>
                <p class="edu-procedure__item-text">
                  Der Hauptteil des Programms besteht aus praktischen Übungen, die 90% der Zeit in
                  Anspruch nehmen. Dafür haben wir sechs spezialisierte Trainingsstände vorgesehen.
                  Diese Stände sind darauf ausgelegt, verschiedene Techniken zur Befestigung der
                  Spanndecke zu üben und reale Arbeitsbedingungen zu simulieren. Hier können Sie
                  unter Anleitung unserer erfahrenen Spezialisten die Installation von Spanndecken
                  unterschiedlicher Typen und Komplexität üben.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
