<section class="path section block">
  <div class="container">
    <div class="path__inner section__grid">
      <div class="section__subtitle">Der Weg zur <br />Professionalität</div>
      <div class="path__content">
        <p class="path__text section__slogan">
          Unsere Schulungsprogramme sind darauf ausgelegt, Ihr Potenzial zu entfalten und Ihnen zu
          helfen, neue Höhen in Ihrer beruflichen Laufbahn zu erreichen, unabhängig von Ihrem
          Ausbildungsniveau oder Ihrer Erfahrung.
        </p>
        <div class="path__box">
          <picture class="path__pic">
            <source srcset="./images/content/path.webp" type="image/webp" />
            <source srcset="./images/content/path.avif" type="image/avif" />
            <img
              src="./images/content/path.jpg"
              class="path__img"
              alt="Der Weg zur Professionalität"
              width="464"
              height="567"
            />
          </picture>
          <div class="path__info">
            <div class="path__info-box">
              <p class="path__info-text">
                Wir begrüßen Sie in der Welt des Handwerks und der Professionalität! Alexspanndecken
                bietet einzigartige Kurse für diejenigen an, die die Kunst der Arbeit mit
                abgehängten Decken erlernen möchten.
              </p>
              <p class="path__info-text">
                Unser Schulungsprogramm vermittelt nicht nur Wissen, sondern hilft Ihnen, ein echter
                Profi auf diesem Gebiet zu werden. Öffnen Sie mit uns die Türen zu neuen
                Möglichkeiten und Erfolgen!
              </p>
            </div>
            <div class="path__info-row">
              <div class="path__info-row-box">
                <blockquote class="path__info-blockquote">
                  "Unsere Mission ist es, nicht nur zu schulen, sondern jeden auf dem Weg zur
                  beruflichen Perfektion und erfolgreichen Partnerschaften zu inspirieren!"
                </blockquote>
                <div class="path__info-name">
                  Fachmann des Unternehmens Alexspanndecken, Alex Т.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
