<div class="pagination">
  <div class="container">
    <div class="pagination__inner">
      <div class="pagination__box">
        <button class="pagination__btn pagination__btn-prev">
          <svg
            width="25"
            height="32"
            viewBox="0 0 25 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.35">
              <path
                d="M16 23L9 17L16 11"
                stroke="#1E1E1E"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
          </svg>
        </button>
        <ul class="pagination__list">
          <li class="pagination__item active">
            <a class="pagination__link" href="#">1</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">2</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">3</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">4</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">...</a>
          </li>
          <li class="pagination__item">
            <a class="pagination__link" href="#">8</a>
          </li>
        </ul>
        <button class="pagination__btn pagination__btn-next">
          <svg
            width="9"
            height="14"
            viewBox="0 0 9 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 13L8 7L1 1"
              stroke="#1E1E1E"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <button class="pagination__btn-more">Mehr anzeigen</button>
    </div>
  </div>
</div>
