<section class="cart section block">
  <div class="container">
    <div class="cart__inner">
      <h1 class="cart__title">Zur Kasse</h1>
      <div class="cart__content">
        <div class="cart__left">
          <div class="cart__left-row">
            <h2 class="cart__left-subtitle">Personal information</h2>
            <dl class="cart__left-list">
              <div class="cart__left-item">
                <dt class="cart__left-term">Vorname</dt>
                <dd class="cart__left-val">Alex</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">Nachname</dt>
                <dd class="cart__left-val">alexspan</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">Telefon</dt>
                <dd class="cart__left-val">+ 0172 58 21 433</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">E-Mail</dt>
                <dd class="cart__left-val">info@alexspanndecken.de</dd>
              </div>
            </dl>
          </div>
          <div class="cart__left-row">
            <div class="cart__left-top">
              <h2 class="cart__left-subtitle">Rechnungsadresse</h2>
              <button class="cart__left-edit-btn js-cart-edit-btn">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.5 21.5001L8.04927 19.3657C8.40421 19.2292 8.58168 19.161 8.74772 19.0718C8.8952 18.9927 9.0358 18.9013 9.16804 18.7987C9.31692 18.6831 9.45137 18.5487 9.72028 18.2798L21 7.00006C22.1046 5.89549 22.1046 4.10463 21 3.00006C19.8955 1.89549 18.1046 1.89549 17 3.00006L5.72028 14.2798C5.45138 14.5487 5.31692 14.6831 5.20139 14.832C5.09877 14.9643 5.0074 15.1049 4.92823 15.2523C4.83911 15.4184 4.77085 15.5959 4.63433 15.9508L2.5 21.5001ZM2.5 21.5001L4.55812 16.149C4.7054 15.7661 4.77903 15.5746 4.90534 15.4869C5.01572 15.4103 5.1523 15.3813 5.2843 15.4065C5.43533 15.4354 5.58038 15.5804 5.87048 15.8705L8.12957 18.1296C8.41967 18.4197 8.56472 18.5648 8.59356 18.7158C8.61877 18.8478 8.58979 18.9844 8.51314 19.0947C8.42545 19.2211 8.23399 19.2947 7.85107 19.442L2.5 21.5001Z"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
            <dl class="cart__left-list">
              <div class="cart__left-item">
                <dt class="cart__left-term">name</dt>
                <dd class="cart__left-val">Alex</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">Straßse</dt>
                <dd class="cart__left-val">Unter den Linden</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">PLZ</dt>
                <dd class="cart__left-val">10365</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">Ort</dt>
                <dd class="cart__left-val">Berlin</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">Land</dt>
                <dd class="cart__left-val">Germany (Deutschland)</dd>
              </div>
            </dl>
            <a class="cart__left-link" href="#">Aus gespeicherten auswählen</a>
          </div>
          <div class="cart__left-row">
            <div class="cart__left-top">
              <h2 class="cart__left-subtitle">Lieferadresse</h2>
              <button class="cart__left-edit-btn js-cart-edit-btn">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.5 21.5001L8.04927 19.3657C8.40421 19.2292 8.58168 19.161 8.74772 19.0718C8.8952 18.9927 9.0358 18.9013 9.16804 18.7987C9.31692 18.6831 9.45137 18.5487 9.72028 18.2798L21 7.00006C22.1046 5.89549 22.1046 4.10463 21 3.00006C19.8955 1.89549 18.1046 1.89549 17 3.00006L5.72028 14.2798C5.45138 14.5487 5.31692 14.6831 5.20139 14.832C5.09877 14.9643 5.0074 15.1049 4.92823 15.2523C4.83911 15.4184 4.77085 15.5959 4.63433 15.9508L2.5 21.5001ZM2.5 21.5001L4.55812 16.149C4.7054 15.7661 4.77903 15.5746 4.90534 15.4869C5.01572 15.4103 5.1523 15.3813 5.2843 15.4065C5.43533 15.4354 5.58038 15.5804 5.87048 15.8705L8.12957 18.1296C8.41967 18.4197 8.56472 18.5648 8.59356 18.7158C8.61877 18.8478 8.58979 18.9844 8.51314 19.0947C8.42545 19.2211 8.23399 19.2947 7.85107 19.442L2.5 21.5001Z"
                    stroke="black"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
            <dl class="cart__left-list">
              <div class="cart__left-item">
                <dt class="cart__left-term">name</dt>
                <dd class="cart__left-val">Alex</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">Straßse</dt>
                <dd class="cart__left-val">Unter den Linden</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">PLZ</dt>
                <dd class="cart__left-val">10365</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">Ort</dt>
                <dd class="cart__left-val">Berlin</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">Land</dt>
                <dd class="cart__left-val">Germany (Deutschland)</dd>
              </div>
            </dl>
            <a class="cart__left-link" href="#">Aus gespeicherten auswählen</a>
          </div>
          <div class="cart__left-row">
            <div class="cart__left-top">
              <h2 class="cart__left-subtitle">Lieferinformationen</h2>
            </div>
            <div class="cart__left-delivery">
              <div class="cart__left-delivery">
                <input id="abhol" class="cart__left-input" type="radio" value="abhol" />
                <label class="cart__left-label" for="abhol">Abholservice</label>
              </div>
              <div class="cart__left-delivery">
                <input id="usp" class="cart__left-input" type="radio" value="usp" />
                <label class="cart__left-label" for="usp">UPS</label>
              </div>
              <div class="cart__left-delivery">
                <input id="dhl" class="cart__left-input" type="radio" value="dhl" />
                <label class="cart__left-label" for="dhl">DHL</label>
              </div>
              <div class="cart__left-delivery">
                <input id="gls" class="cart__left-input" type="radio" value="gls" />
                <label class="cart__left-label" for="gls">GLS</label>
              </div>
            </div>
            <a class="cart__left-link" href="#">Aus gespeicherten auswählen</a>
          </div>
        </div>
        <div class="cart__right">
          <div class="cart__left-row">
            <h2 class="cart__left-subtitle">Warenkorb (<span>3</span>)</h2>
            <div class="cart__goods">
              <div class="cart__goods-item">
                <div class="cart__goods-img-box">
                  <picture class="cart__goods-pic">
                    <source
                      srcset="../../images/content/catalog/product/1.webp"
                      type="image/webp"
                    />
                    <source
                      srcset="../../images/content/catalog/product/1.avif"
                      type="image/avif"
                    />
                    <img
                      src="../../images/content/catalog/product/1.png"
                      class="cart__goods-img"
                      alt="ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste"
                      width="122"
                      height="122"
                    />
                  </picture>
                </div>
                <div class="cart__goods-info">
                  <div class="cart__goods-top">
                    <h3 class="cart__goods-title">
                      ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste
                    </h3>
                    <div class="cart__goods-price">€ 49</div>
                  </div>
                  <div class="cart__goods-numb">100 м</div>
                  <button class="cart__goods-delete">Löschen</button>
                </div>
              </div>
              <div class="cart__goods-item">
                <div class="cart__goods-img-box">
                  <picture class="cart__goods-pic">
                    <source
                      srcset="../../images/content/catalog/product/1.webp"
                      type="image/webp"
                    />
                    <source
                      srcset="../../images/content/catalog/product/1.avif"
                      type="image/avif"
                    />
                    <img
                      src="../../images/content/catalog/product/1.png"
                      class="cart__goods-img"
                      alt="ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste"
                      width="122"
                      height="122"
                    />
                  </picture>
                </div>
                <div class="cart__goods-info">
                  <div class="cart__goods-top">
                    <h3 class="cart__goods-title">
                      ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste
                    </h3>
                    <div class="cart__goods-price">€ 49</div>
                  </div>
                  <div class="cart__goods-numb">100 м</div>
                  <button class="cart__goods-delete">Löschen</button>
                </div>
              </div>
              <div class="cart__goods-item">
                <div class="cart__goods-img-box">
                  <picture class="cart__goods-pic">
                    <source
                      srcset="../../images/content/catalog/product/1.webp"
                      type="image/webp"
                    />
                    <source
                      srcset="../../images/content/catalog/product/1.avif"
                      type="image/avif"
                    />
                    <img
                      src="../../images/content/catalog/product/1.png"
                      class="cart__goods-img"
                      alt="ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste"
                      width="122"
                      height="122"
                    />
                  </picture>
                </div>
                <div class="cart__goods-info">
                  <div class="cart__goods-top">
                    <h3 class="cart__goods-title">
                      ALU Trennprofil für Lichtlinien schwarz super breit 7 cm mit Abschlussleiste
                    </h3>
                    <div class="cart__goods-price">€ 49</div>
                  </div>
                  <div class="cart__goods-numb">100 м</div>
                  <button class="cart__goods-delete">Löschen</button>
                </div>
              </div>
            </div>
            <a class="cart__left-link" href="#">Aktionscode eingeben</a>
            <dl class="cart__left-list">
              <div class="cart__left-item">
                <dt class="cart__left-term">Lieferung</dt>
                <dd class="cart__left-val">€ 10</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">Total</dt>
                <dd class="cart__left-val">€ 139</dd>
              </div>
              <div class="cart__left-item">
                <dt class="cart__left-term">Gesamtsumme</dt>
                <dd class="cart__left-val">€ 139</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="cart__bottom">
        <p class="cart__bottom-text">
          * Die Lieferung erfolgt bis 12:00 Uhr und wird innerhalb von nur einem Tag mit UPS
          geliefert. Die Lieferung erfolgt nicht am Tag der Verhinderung und des Versands.
        </p>
        <button class="cart__bottom-btn">Bestellen</button>
      </div>
    </div>
  </div>
</section>
