<section class="catalog">
  <div class="container">
    <h1 class="catalog__title">Katalog</h1>
    <div class="catalog__grid">
      <div class="catalog__item catalog__category">
        <a class="catalog__item-link" href="#">
          <picture class="catalog__category-pic">
            <source srcset="../../images/content/catalog/category/1.webp" type="image/webp" />
            <source srcset="../../images/content/catalog/category/1.avif" type="image/avif" />
            <img
              src="../../images/content/catalog/category/1.png"
              class="catalog__item-img"
              alt="Spanndecken"
              width="413"
              height="339"
            />
          </picture>
          <h3 class="catalog__item-name">Spanndecken</h3>
        </a>
      </div>
      <div class="catalog__item catalog__category">
        <a class="catalog__item-link" href="#">
          <picture class="catalog__category-pic">
            <source srcset="../../images/content/catalog/category/2.webp" type="image/webp" />
            <source srcset="../../images/content/catalog/category/2.avif" type="image/avif" />
            <img
              src="../../images/content/catalog/category/2.png"
              class="catalog__item-img"
              alt="Profile"
              width="413"
              height="339"
            />
          </picture>
          <h3 class="catalog__item-name">Profile</h3>
        </a>
      </div>
      <div class="catalog__item catalog__category">
        <a class="catalog__item-link" href="#">
          <picture class="catalog__category-pic">
            <source srcset="../../images/content/catalog/category/3.webp" type="image/webp" />
            <source srcset="../../images/content/catalog/category/3.avif" type="image/avif" />
            <img
              src="../../images/content/catalog/category/3.png"
              class="catalog__item-img"
              alt="Spanndecken zubehör"
              width="413"
              height="339"
            />
          </picture>
          <h3 class="catalog__item-name">Spanndecken zubehör</h3>
        </a>
      </div>
      <div class="catalog__item catalog__category">
        <a class="catalog__item-link" href="#">
          <picture class="catalog__category-pic">
            <source srcset="../../images/content/catalog/category/4.webp" type="image/webp" />
            <source srcset="../../images/content/catalog/category/4.avif" type="image/avif" />
            <img
              src="../../images/content/catalog/category/4.png"
              class="catalog__item-img"
              alt="Spanndecken beleuchtung"
              width="413"
              height="339"
            />
          </picture>
          <h3 class="catalog__item-name">Spanndecken beleuchtung</h3>
        </a>
      </div>
    </div>
  </div>
</section>
